---
layout: 'deck_unit'
title: "The Question"
tags: []
description: "Introduces the question around which this module is organised"
---

include ../../../fragments/unit_mixins

+slide_middle
  .notes: :t()
    The question for the course is.
  .notes.handout.show
    p.center
      span Which forms of 
      span.shared-agency shared agency
      span  underpin our social nature?
  .slide
    +invert('.shared-agency')
    .notes: :t
      Basic contrast: I wave = exercise individual agency; we shake hands = exercise shared agency.
      Or: We cook pizzas side-by-side = each exercise individual agency; we cook pizzas together = exercise 
      shared agency.
    .notes: :t
      This is only supposed to give you a sense of the notion, it is not a definition.
      Different philosophers have offered wildly different, incompatible accounts of what shared 
      agency is, and much of the course will be about trying to find our way around these.
  .slide
    +uninvert('.shared-agency')
    p.em-above Why ask? 
    p.indent
      span Individual 
      span.vs-aggregate.hide vs Aggregate 
      span.miss-shared-agency.hide -- both miss shared agency
      .notes: :t
        In philosophy of mind and action, it is normal to focus just on a single individual
        who might as well be acting in isolation.  But if you think about almost any aspect of
        cognition and agency, it is striking that it can’t be fully understood in isolation.
        Our capacities for knowledge, emotion and action depend in numerous ways on our 
        interactions with others.
      .slide
        +show('.vs-aggregate')
        .notes: :t
          By contrast with philosophy, many disciplines such as economics and sociology do 
          treat multiple individuals.  But on the whole this involves treating individuals
          as indistinguisable from one another. 
      .slide
        +show('.miss-shared-agency')
        .notes: :t
          So once again, on the aggregate perspective, there is no room for shared agency.
        .notes: :t
          There is growing awareness in cognitive science and philosophy that in missing
          shared agency we may be missing something that shapes our lives and explains
          much about why we humans are the way we are.
          Excitingly, new techniques and technologies to investigate shared agency are 
          being developed too.
        .notes: :t
          At the same time there is an amazing degree of uncertainty and even confusion
          among philosophers and theoretically-minded scientists.
          It’s not just that there are different theories of shared agency; there is 
          fundamental disagreement about what sort of conceptual and ontological resources
          are needed, and about the questions such a theory should answer.
          As you’ll see, there are even two completely unconnected articles on this topic
          in the Stanford Encyclopedia of Philosophy.
        .notes: :t
          So we face lots of challenges ...
          
          
+slide_middle
  p terminology
  p.em-above shared agency
  p joint action
  .notes.handout: :t()
    A \emph{joint action} is an exercise of shared agency.
  .notes: :t()
    Joint actions include very small scale interactions such as hugging or sharing a 
    smile, larger small group efforts like dancing together, going for a walk
    or paining a house, and also epsiodes involving multiple agents and long periods 
    of time like buidling a city or founding a democracy.
  .slide
    p ‘collective’ action / agency
    .notes: :t
      People sometimes use ‘collective’ rather than ‘joint’ or ‘shared’.  These terms
      tend to be used interchangeably rather than to mark significant differences.
      (Although Tomasello has made a reasonable suggestion.)
      Terminology is a mess; as usual.

+slide_middle
  p.center storytelling


+slide_middle
  p.center small-scale
  .notes: :t
    I’ve been suggesting that
    one fundamental, but neglected, feature of humans (and perhaps of other animals)
    is that they are capable of joint action.  And I think that human’s (and perhaps other 
    animals’) social nature depends on their capacity for joint action.
    I’ve also been suggesting that this will be hard to study because there is a lot 
    of quite deep disagreement among philosophers even about where to start.
  .notes: :t()
    The strategy: start with ‘modest socialty’ as Bratman characterises it.
  .slide
    p.handout.notes.show: :t
      Modest sociality: ‘small scale shared intentional agency in the absence of 
      asymmetric authority relations’
    p.right.grey-text Braman 2009, p. 150
    .notes.handout.ctd \citep[p.~150]{Bratman:2009lv}
  .notes: :t
    Why is this a reasonable strategy?  One consideration is that, developmentally and 
    evolutionarily, modest sociality almost certainly came first.  So it is reasonable to 
    hope that if we can understand this, we can build up to more complex cases.
    Another, related thought is Fred Dretske’s maxim that you don’t know how something
    works until you know how to build it.
    It is a reasonable guess that in building agents capable of exercising shared agency,
    a good first target is to get them started with modest sociality.
  .notes: :t
    Note that this is only a starting point: we are also going to consider large scale
    joint actions (like electing a president)
    and very small scale joint actions (like sharing a smile or moving an egg).
    