---cson
layout: 'deck_unit'
title: "Action Experience"
tags: []
description: """
  What do you experience when someone acts?
  According to the Action Index Conjecture,
  motor representations of outcomes structure 
  experiences, imaginings and (prospective) memories
  in ways which provide opportunities for attention to actions directed to those outcomes.
  Forming intentions concerning an outcome can influence attention to the action,
  which can influence the persistence of a motor representation of the outcome.
  """
---

include ../../../fragments/unit_mixins





.notes: :t
  Step back and consider the problem more generally. The mind is made up of lots of different, loosely
  connected systems that work largely independently of each other. To a certain extent it’s fine for
  them to go their own way; and of course since they all get the same inputs (what with being parts of
  a single subject), there are limits on how separate the ways the go can be. Still, it’s often good
  for them to be aligned, at least eventually.
.notes: :t
  Experience is what enables there to be nonaccidental eventual alignment of largely independent
  cognitive systems. This is what experience is for.
.notes: :t
  Can we think along these lines in the case of action?
.notes: :t
  \textbf{What do we experience when someone acts?}
  One possibility is that we experience only bodily configurations, joint displacements and
  effects characteristic of particular actions.
  For the purposes of this talk, I will assume that this is wrong.
  Instead I will assume that we experience not only bodily configurations, joint displacements,
  sounds and the rest but also goal-directed actions.
.notes: :t
  What might it mean to experience action?
  
+slide_rh_white
  +run_across
    p.center How are non-accidental matches possible?
  +left_half
    p.center action
    p.em-above.step2.hide  Contents of motor representations vs contents of intentions.
  +right_half
    p.center vision
    p.em-above.step2.hide Contents of visual representations vs contents of beliefs.
    .notes: :t
      Could action experiences be like visual experiences?
      This wound imply that there are expeirences of action which stand to motor representations
      in something like the way that visual experiences stand
      to visual representations.
    .slide
      +show('.step2')
      .notes: :t
        If this were right, how would it help with the interface problem?
    .slide
      p.em-above.notes.show Visual representations cause visual experiences, which provide reasons for beliefs.
      p.hem-above.notes.show Beliefs (and desires) influence orientation and attention, and thereby visual representations.
      .notes: :t
        This seems unlikely for several reasons.
        First, vision involves a particular sensory modality. It would be quite radical to 
        postulate a motor modality.
      .notes: :t
        Second, the interface problem in the case of vision is, I suppose, primarily about how 
        visual representations influence beliefs; 
        you don’t want influence in the other direction, or at least not too much.
        By contrast, influence from intention to motor representation is essential;
        so vision seems likely to provide a poor
        for the case of action.


+slide_middle
  p.center model 2: sensations (the feeling of familiarity)


//- object indexes
+slide_middle
  p.center model 3: object indexes
  .notes: :t
    what is an object index? Formally, an object index is ‘a mental token that functions as a pointer to
    an object’ \citep[p.\ 11]{Leslie:1998zk}. If you imagine using your fingers to track moving objects,
    an object index is the mental counterpart of a finger \citep[p.~68]{pylyshyn:1989_role}.
  .notes: :t
    The interesting thing about object indexes is that a system of object
    indexes (at least one, maybe more)
    appears to underpin cognitive processes which are not
    strictly perceptual but also do not involve beliefs or knowledge states.
    While I can’t fully explain the evidence for this claim here,
    I do want to mention one of the experimental tools that is used to
    investigate the existence of, and the principles underpinning, 
    a system of object indexes which operates 
    between perception and thought ...
  .notes: :t
    [Object indexes are going to come in twice: once as a partial solution to the 
    interface problem, then again as a model for a further conjecture about how it might be solved
    (the ‘action index’ conjecture).]

+slide
  .object-indexes-fix
    +img_clip('pylyshyn_2001_fig6.png','rect(0, 200px, 300px, 0)')
  .notes: :t
    Suppose you are shown a display involving eight stationary circles, like 
    this one.
  .kludge(style='margin-top:300px;') &nbsp;
  .slide
    +clip('img:eq(0)','rect(0, 370px, 300px, 0)')
    .notes: :t
      Four of these circles flash, indicating that you should track these circles.
  .slide
    +clip('img:eq(0)','rect(0, 530px, 300px, 0)')
    .notes: :t
      All eight circles now begin to move around rapidly, and keep moving unpredictably for some time.
  .slide
    +clip('img:eq(0)','auto')
    .notes: :t
      Then they stop and one of the circles flashes.
      Your task is to say whether the flashing circle is one you were supposed to track.
      Adults are good at this task \citep{pylyshyn:1988_tracking}, indicating that they can use at least four object indexes simultaneously.
    .notes: :t
      They can also sometimes specify which direction the object was moving in (*ref).
    .notes: :t
      (\emph{Aside.} That this experiment provides evidence for the existence of 
      a system of object indexes has been challenged.  
      See \citet[p.\ 59]{scholl:2009_what}:
      \begin{quote}
      `I suggest that what Pylyshyn’s (2004) experiments show is exactly what they intuitively 
      seem to show: We can keep track of the targets in MOT, but not which one is which. 
      [...]
      all of this seems easily explained [...] by the view 
      that MOT is simply realized by split object-based attention to the MOT targets as a set.'
      \end{quote}
      It is surely right that the existence of MOT does not, all by itself,
      provide support for the existence of a system of object indexes.
      However, contra what Scholl seems to be suggesting here, the MOT paradigm 
      can be adapated to provide such evidence.
      Thus, for instance, \citet{horowitz:2010_direction} show that, in a MOT paradigm, observers 
      can report the direction of one or two targets without advance knowledge of which 
      targets' directions they will be asked to report.)
  p.source Pylyshyn 2001, figure 6


+slide
  .notes: :t
    There is a behavioural marker of object-indexes called the object-specific preview benefit.
    Suppose that you are shown an array of two objects, as depicted here.
    At the start a letter appears briefly on each object.
    (It is not important that letters are used; in theory, any readily 
    distinguishable features should work.)
  +img_clip('kahneman_1992_fig3.png','rect(5px,175px, 600px, 0)')
  .slide
    +clip('img:eq(0)','rect(5px,315px, 600px, 0)')
    .notes: :t
      The objects now start moving.
  .slide
    +clip('img:eq(0)','auto')
    .notes: :t
      At the end of the task, a letter appears on one of the objects.
      Your task is to say whether this letter is one of the letters that appeared at the start or whether it is a new letter.
      Consider just those cases in which the answer is yes: the letter at the end is one of those which you saw at the start.
      Of interest is how long this takes you to respond in two cases: when the letter appears on the same object at the start and end, and, in contrast, when the letter appears on one object at the start and a different object at the end.
      It turns out that most people can answer the question more quickly in the first case.
      That is, they are faster when a letter appears on the same object twice than when it appears on two different objects 
      \citep{Kahneman:1992xt}.
      This difference in response times is the 
      % $glossary: object-specific preview benefit
      \emph{object-specific preview benefit}.
      Its existence shows that, in this task, you are keeping track of which object is which as they move.
      This is why the existence of an object-specific preview benefit is taken to be evidence that object indexes exist.
  p.source Kahneman et al 1992, figure 3
  .notes.handout: :t
    The \emph{object-specific preview benefit}: ‘observers can identify target 
    letters that matched the preview letter from the same object faster than 
    they can identify target letters that matched the preview letter from the 
    other object’ \citep[p.\ 2]{Krushke:1996ge}.

+slide
  +img_clip('kahneman_1992_table4.png')
  p.source Kahneman et al 1992, table 4

+slide_middle
  p.center object index / file
  .notes: :t
    To clarify terminology,
    I should say that whereas I’m talking about object indexes,
    researchers more typically interpret this research in terms of object
    files. 
    I’m sticking to object indexes rather than object files for 
    reasons of simplicity and caution.
    If you believe in object files then you can interpret what I’m saying
    as referring to object files.
    And if you have doubts about object files, you might still have reason
    to accept that a system of object indexes exists.



+slide
  .change-features-fig
    +img('scholl_2007_fig4.png')
    p.source Scholl 2007, figure 4
  .notes: :t
    Object indexes are belief-independent.
    In this scenario, 
    a patterned square disappears behind the barrier; later a plain black ring emerges.  
    If you consider speed and direction only, these movements are consistent with there being just one object.
    But given the distinct shapes and textures of these things, it seems all but certain that there must be two objects.
    Yet in many cases these two objects will be assigned the same object index \citep{flombaum:2006_temporal,mitroff:2007_space}.
    
  .slide
    +blur('.change-features-fig')
    +reset-escape-inner
      +_slide_middle_inner
        .object-index-properties
          p Object indexes
          ul
            li.judgement-independent can conflict with beliefs,
            .notes: :t
              This system of object indexes
              does not involve belief or knowledge
              and may assign indexes to objects in ways that are inconsistent with
              a subject’s beliefs about the identities of objects 
              \citep[e.g.][]{Mitroff:2004pc, mitroff:2007_space}
            .notes: :t
              Object indexes can conflict with beliefs, although they are surely not
              entirely independent of beliefs because they can influence how
              attention is allocated.
            li are nonmodal,
            li influence how attention is allocated
              span.step2.hide , and
            li.step2.hide: span.guide-action guide ongoing action (e.g. visual tracking, reaching).
        .slide
          +show('.step2')
          .notes: :t
            Object indexes can guide ongoing object-directed actions.
            For example, if you are aiming to catch a moving target,
            object indexes are supposed to influence where you reach. (*ref!)
          
        .slide
          +invert('.guide-action')
          .notes: :t
            The fact that object indexes may guide action suggests that they
            can contribute to solving 
            the interface problem? 
            Suppose you are aiming to catch one of
            several possible targets. What do you do? You attend to the target. 
            What’s going on here?


mixin actionIndexConjecture(p)
  - p = p || {final:false}
  p ‘Action index’ conjecture
  p.em-above.indent Motor representations of outcomes structure  
    br 
    span experiences
    span.imaginings(class="#{p.final ? '' : 'hide'}") , imaginings and (prospective) memories
  p.indent in ways which provide opportunities for attention to actions directed to those outcomes.
  .step2(class="#{p.final ? '' : 'hide'}")
    p.em-above.indent Forming intentions concerning an outcome can influence attention to the action,
    p.indent which can influence the persistence of a motor representation of the outcome.



+slide_middle({bkg:'motor_representation_fig/Slide16.jpg'})
  .notes: :t
    ... my conjecture is that this is what is going on.
    \begin{enumerate}
    \item Object indexes enable attention to an object,
    \item which enables the formation of an intention,
    \item which influences attention to objects,
    \item which in turn influences assignments of object indexes,
    \item thereby guiding action.
    \end{enumerate}
    
  .slide
    +blur('.bkg')
    .notes: :t
      Now I want to suggest that we can think of the way things work in the case of 
      object indexes as inspiration for a somewhat analogous idea about how motor representations
      might contribute to what we experience when someone acts.
    .notes: :t
      What do we experience when someone acts?
      Perhaps we can answer this question by analogy with the effects of object indexes on experience.
      There’s no perceptual modality linked to objects; instead, a system of object indexes appears to
      imposes a sort of structure on experience which can influence attention and guide action.
    .notes: :t
      By analogy, we might think that the system of motor representations imposes a sort of structure
      on experience which can influence attention too.
    .notes: :t
      Earlier I suggested that object indexes provide a partial solution to the interface problem
      (Object index->attention->intention->attention->object index->action.)
      Similarly, if experience of things around you presents possible actions by way of
      structuring, what you need to do to act in a certain way is to attend to a particular action
      possibility structure.
  
  .slide
    .notes.show
      +actionIndexConjecture
  .slide
    +show('.step2')
  .notes: :t
    There’s one major disanalogy with object indexes.
    Object indexes are about things which are actually present, whereas the motor representations
    we are interested in specify possible future outcomes.
  .notes: :t
    This appears to be an objection because 
    on the face of it, it seems that there could not be expeirence of future actions 
    any more than we can experience future events.
  .notes: :t
    So, you might object, the idea that motor representations structure experience is ok if you
    are merely observing someone act, but it will not help with performing actions.
  
  .slide
    +show('.imaginings')
    .notes: :t
      I want to answer this objection in two parts.
      The first part of the answer is that motor representations may structure not only
      experiences but also imaginigs, memories and prospective memories.

+slide
  +img('costantini_2010_fig1b.png','width:720px')
  p.source Costantini et al, 2010 figure 1b
  .notes: :t
    The second part of the answer to the objection is that motor representations of 
    outcomes may structure our experiences of objects.
    The existence of affordances suggests that this is at least possible.
  .notes: :t
    So here is the idea:
    What is experienced is an object, not an action or an outcome.
    So the fact that the action lies in the future and the outcome has not yet occurred is no objection.
    But the motor representation of the outcome structures the experience of the object in some way.
    So the overall character of the experience of the mug differs when an action is represented
    motorically compared to when it does not.
  .notes: :t
    And this difference is structural in the same sense that the difference object indexes make 
    is structural. It’s about how elements of experience are organised rather than about any
    particular sensory modality.
    
+slide_middle
  +actionIndexConjecture({final:true})
  .notes: :t
    A second objection: intentions and motor representations need to match in situations where 
    you merely imagine acting or merely imaginary objects.  In such situations there are no objects
    to experience.
  .notes: :t
    Reply: motor representations structure experiences associated with imaginig things as they do
    experiences associated with actually perceiving things. To imagine acting on a mug (say), you need
    to imagine the mug.
  .notes: :t
    A third objection: close your eyes, put yourself in a sensory deprivation chamber.
    Let your hand rest palm down on a table.
    Now intend to turn your hand palm up.
    Often enough, the intention will succeed.
    But by hypothesis there is nothing you experience (you are in a sensory deprivation chamber).
  .notes: :t
    Two points in reply to this objection: first, we haven’t removed proprioception and other 
    somasomatic senses.  It may be that motor representations structure experiences of the body
    just as much as they structure experiences of mere objects.
  .notes: :t
    But what if you remove somasomatic senses too?  This is likely to impair action, but unlikely 
    to make it impossible. Perhaps the ability to act in such situations depends on memory and 
    imagination.

+slide_middle
  p.center Predictions
    span.q ?
  .notes: :t
    So far I’ve suggested that this conjecture (a) might contribute to solving the interface
    problem and (b) isn’t obviously wrong.  But how could we tell whether it is right?
    What predictions does it generate?
  .slide
    +hide('.q')
    p.indent: :t
      1. Not all action-related changes in experience are merely changes in 
      bodily configurations, movements and their sensory effects.
    .notes: :t
      Prediction 1: it is possible to vary which action someone experiences while holding fixed her
      perceptual experiences of bodily configurations and joint displacements and their sensory effects.
  .slide
    +hide('.q')
    p.indent: :t
      2. Memory for objects should be influenced by their affordances.
    .notes: :t
        
    
//- 
  //- Incomplete, probably wrong approach.
  +slide_rh_white
    +run_across
      p.center.step2.hide How are non-accidental matches possible?
    +left_half
      p.center action
      p.em-above.step2.hide  Contents of motor representations vs contents of intentions.
      .step3.hide
        p.em-above Motor representations influence attention, providing opportunities for belief.
    +right_half
      p.center objects
      p.em-above.step2.hide Objects indexed vs beliefs about their identity.
      .notes: :t
        My question was, What do we experience when someone acts?
        Could action experiences be like whatever sort of object experiences that object indexes make possible?
        This wound imply that there are expeirences of action which stand to motor representations
        in something like the way that visual experiences stand
        to visual representations.
      .slide
        +show('.step2')
        .notes: :t
          If this were right, how would it help with the interface problem?
      .slide
        p.em-above.notes.show Object indexes influence attention, providing opportunities for belief.
        p.hem-above.notes.show Beliefs (and desires) influence orientation and attention, and thereby index assignment.
        
      
