---cson
layout: 'deck_unit'
title: "Adaptation and Launching"
tags: []
description: """
  """
---

include ../../../fragments/unit_mixins


+slide_middle
  .notes  A challenge to the conjecture ...
  .notes A question was:
  p.notes.ctd.show Can humans perceive causal interactions?
  .notes: :t
    Now I think we have achieved an answer:
  p.indent.em-above.notes.show
    span Working hypothesis: Causal interactions are detected, or otherwise treated specially, by   
    span.processes perceptual processes
    span  involved in segmenting and tracking objects.


+slide
  +img_clip('rolfs_2013_fig1.png')
  p.source Rolfs et al, 2013 figure 1 (part)
+slide
  +img_clip('rolfs_2013_fig2b.png')
  p.source Rolfs et al, 2013 figure 2B

+slide
  +img_clip('arnold_2015_fig1.png')
  p.source Arnold et al 2015, figure 1
  notes: :t
    ‘participants were asked to judge whether simulated bounces of a disc against a static wedge were
    ‘‘hard’’ (like a pool ball bouncing on concrete) or ‘‘soft’’ (like a squash ball bouncing).’
    
  notes: :t
    ‘ Adaptation suggesting repeated ‘‘rigid’’ collisions resulted in more ‘‘soft’’ bounces being reported, whereas adaptation suggesting repeated elastic object collisions resulted in more ‘‘hard’’ bounce reports—an object elasticity aftereffect.’
  

+slide_middle
  p.center adaptation
  .notes: :t
    This seems hard to reconcile with object indexes.
    But (A) note the questions in the commentary; and (B) Hubbard on Kiritani (1999)
    for launching when the contact is occluded; and context effects (Scholl on postdiction)
    and (D) evidence for effects of 
    acoustic stimuli on launching, suggesting that the effect may not be modality-specific
    (The evidence on this point is controversial. Sekuler and colleagues show that when subjects observe
    an ambiguous visual display consistent with either a collision or a passing event, the timing of a
    tone can control whether subjects report seeing a collision or pass- ing, and argue that this is a
    multisensory phenomenon: R. Sekuler et al., ‘Sound Alters Visual Motion Perception’, Nature, 
    (), p. . Watanabe and Shimojo extend this finding by showing that not any event (or
    non-event) which draws attention at the moment of a collision will disambiguate the display; they
    argue that the tone’s effect on the perception of a col- lision is a ‘genuine audiovisual effect,
    not an audiovisual effect that results from auditory effects’: K. Watanabe and S. Shimojo, ‘When
    Sound Affects Vision: Effects of Auditory Grouping on Visual Motion Perception’, Psychological
    Science,  (), pp. –. Guski and Troje, on the other hand, show that features which carry
    no information about causation, such as a blink, can also influence whether subjects report seeing a
    collision or a passing. These authors conclude that auditory influences on the perceptual of
    collisions are ‘no true cross-modal phenomenon’: R. Guski and N.F. Troje, ‘Audiovisual Phenomenal
    Causality’, Perception and Psychophysics,  (), pp. –, at p. .)


//- 
    *** HERE ***
    TODO: add studies on adaptation and other effects (see separate notes doc)

