---cson
layout: 'deck_unit'
title: "The Launching Effect and Metacognition"
tags: []
description: """
  If the launching effect is a consequence of the operation
  of a system of object indexes, why does it have phenomenal consequences?
  One possibility is that conflicts in assigning object indexes give rise to metacognitive feelings
  of surprise
  which subjects have learnt to interpret as impressions of causation.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins



+slide({bkg:'michotte_slides/Slide03.jpg'})
  .notes: :t
    Back to the question I started with ...
  .notes: :t
    Consider causal interactions. 
    Where do they fit in?
    Are they perceptually 
    experienced in whatever sense the shape and motions of things are?


+slide_middle
  p.center perceptual process vs perceptual experience
  .notes What if anything do the findings tell us about phenomenology?
  .slide
    p.em-above Causal Object Index Conjecture: 
    .notes.show.ctd: :t
      Effects associated with the ‘perception of causation’
      are consequences of errors (or error-like patterns) in the assignments of object indexes and
      their phenomenal effects.
  .slide
    p.em-above What, if any, experiential effects do these errors have?



+slide_middle
  p.center feeling of surprise
  .notes: :t
    There is a feeling of surprise which has features characteristic metacognitive feelings.
  .slide
    +hide('img.bkg, .source', 1000)
    p
      span ‘the intensity of felt surprise is [...] influenced by [...]
      br
      span the degree of the event’s interference with ongoing mental activity’
    p.right.grey-text Reisenzein et al, 2000 p. 271; cf. Touroutoglou & Efklides, 2010
    .notes In particular, 
    .notes.ctd.handout: :t
      ‘the intensity of felt surprise is not only influenced by the unexpectedness of the
      surprising event, but also by the degree of the event’s interference with ongoing mental
      activity, [...] the effect of unexpectedness on surprise is [...] partly mediated by
      mental interference’ \citep[p.~271]{reisenzein2000subjective}
    .notes: :t
      That is, the feeling of surprise is a sensational consequence of mental
      interference. (This can be tested by increasing cognitive load: this intensifies feelings
      of surprise without, of course, making the events themselves more suprirsing. But see
      \citep{reisenzein:2017_cognitiveevolutionary} for an alternative interpretation of such
      findings.)
    .notes: :t
      So whereas the feelings of agency and familiarity are both consequences of 
      unexpected fluency of processing, the feeling of surprise is supposed to be the 
      opposite: it is a consequence of unexpected interference in processes.
    .notes.handout: :t
      \footnote{%
      An alterantive is proposed by \citet[p.~79]{foster:2015_whya}:
      ‘the MEB theory of surprise posits that: Experienced surprise is a metacognitive assessment
      of the cognitive work carried out to explain an outcome. Very surprising events are those
      that are difficult to explain, while less surprising events are those which are easier to
      explain.’
      \citet{foster:2015_whya} is about reactions to reading about something unexpected, whereas
      \citet{reisenzein2000subjective} measures how people experience unexpected events (changes to
      stimuli while solving a problem). The latter is much closer to what I’m after.
      }

+slide_middle
  p.center object index assignment error 
  p.center ↓ 
  p.center metacognitive feeling of surprise
  p.center ↓ 
  p.center judgement of causality


+slide_middle
  .notes: :t
    Recall this argument ...
  .notes.show
    p.hem-around Consider an encounter with three two-object movements where the delays between movements are 50, 100 and 150ms.
    p.indent.hem-around (1) The phemomenal difference between the first two encounters is larger than the phenomenal difference between the second two.
    p.indent.hem-around (2) This difference in differences is a fact in need of explanation.
    p.indent.hem-around.three (3) The fact cannot be explained by perceptual experience of objects or their motion.
    p.indent.hem-around.four (4) The best explanation for (1) is that we perceptually experience causal interactions.
  .slide
    +highlight-row('.three','limegreen')
  .slide
    +unhighlight-row('.three','limegreen')
    +highlight-row('.four','red')
    .notes: :t
      The research on object experiences suggests this is false.
      The causes are causal, but the experiences is of objects.
      Or rather, of an interruption to the way objects are perceived.
    .notes: :t
      The launching effect is all about how motion is processed perceptually,
      so it is natural to suppose that the phenomenology reflects this.
    .notes: :t
      Michotte went to great lengths to argue that the experience of one object
      having another’s movement amounted to experiencing causation (‘ampliation of the 
      movement’), but this appears unjustified.


+conclusion
  +_slide_inner: div(style='margin-top:-550px')
    .slide
      p Can humans perceive causal interactions?
    .slide
      p.em-above Causal Object Index Conjecture: 
      .notes.show.ctd: :t
        Effects associated with the ‘perception of causation’
        are consequences of errors (or error-like patterns) in the assignments of object indexes and
        their phenomenal effects.
    .slide
      p.center.em-above   object index assignment error 
      p.center   ↓ 
      p.center   metacognitive feeling of surprise
      p.center   ↓ 
      p.center   judgement of causality
      .notes: :t
        Working hypothesis: Causal interactions are detected, or otherwise treated specially, by   
        perceptual processes
        involved in segmenting and tracking objects.
      .notes: :t
        The perceptual system responsible for identifying objects must also concern itself with certain 
        kinds of causal interaction in order to reconcile conflicting cues to object identity. 
      .notes: :t
        In slightly more detail: one function of our perceptual systems is to identify and track 
        objects; this is done by means of various cues; sometimes the visual system is faced with 
        conflicting cues to object identity which need to be resolved in order to arrive at a 
        satisfactory interpretation; when certain types of causal interaction occur there is a 
        conflict among cues to object identity; these conflicts must be treated differently from other 
        conflicts because they do not indicate failures of object identification and so do not  
        require resolution or further perceptual processing. 
        So object perception depends on sensitivity to certain types of causal interaction and this is 
        why the launching effect occurs.
      .notes: :t
        This is unexpected insofar as perception is often supposed to be limited to features of the 
        world less abstract that causal interactions.  Indeed, the notion that perceptual processes
        represent three-dimensional objects rather than mere surfaces was at one time controversial.
        The research we have reviewed shows that perceptual processes represent not only 
        three-dimensional but properly physical objects, that is, objects capable of causally
        interacting with each other.
      .notes: :t
        Conjecture: These detections trigger metacognitive feelings, 
        which subjects have learnt to interpret as impressions of causation.

