  ---
layout: 'deck_unit'
title: "What is Joint Action: The Method of Contrast Cases"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins

//- also includes material on What is shared intention?
//- also includes the parallel, intention:action as shared intention:joint action 


  
+slide({bkg:'slide03.jpg'})
  .notes Joint action is a familiar feature of everyday life.
  .notes Two sisters cycling to school together are engaged in a joint action,

+slide({bkg:'slide04.jpg'})
  .notes whereas two strangers who happened to be cycling the same route side-by-side would not be (compare \citealp{gilbert_walking_1990}).

+slide({bkg:'slide05.jpg'})
  .notes Similarly, when members of a flash mob in the Central Cafe respond to a pre-arranged cue by noisily opening their newspapers, they perform a joint action. 
  .notes But when someone not part of the mob just happens to noisily open her newspaper in response to the same cue, her action is not part of any joint action.%
  .notes \footnote{
  .notes See \citet{Searle:1990em}; in his example park visitors simultaneously run to a shelter, in once case as part of dancing together and in another case because of a storm. 
  .notes Compare \citet{Pears:1971fk} who uses contrast cases to argue that whether something is an ordinary, individual action depends on its antecedents. 
  .notes }
  .notes These and other contrast cases invite the question, 
  .notes \textbf{What distinguishes  joint actions from parallel but individual action?}
  .notes &nbsp;
  //- .slide
  //-   +blur('img')
  //-   .notes: :t
  //-     This is a valuable question to pursue because
  //-     joint action raises \textbf{a tangle of scientific and philosophical questions}.
  //-     %
  //-     \begin{enumerate}
  //-     \item Psychologically we want to know which mechanisms make it possible \citep{Sebanz:2006yq,vesper_minimal_2010}.
  //-     \item Developmentally we want to know when joint action emerges, what it presupposes and whether it might somehow facilitate socio-cognitive, pragmatic or symbolic development \citep{Moll:2007gu,Hughes:2004zj,Brownell:2006gu}.
  //-     \item Phenomenologically we want to characterise what (if anything) is special about experiences of action and agency when collective agency is involved \citep{Pacherie:2010fk}.
  //-     \item Metaphysically we want to know what kinds of entities and structures are implied by the existence of joint action \citep{Gilbert:1992rs,Searle:1994lb}.
  //-     \item And normatively we want to know what kinds of commitments (if any) are entailed by joint action and how these commitments arise \citep{Roth:2004ki}.
  //-     %, plus a formal account of how practical reasoning for joint action differs (if at all) from individual practical reasoning \citep{Sugden:2000mw,Gold:2007zd}
  //-     \end{enumerate}
  //-     %
  //-     In investigating these questions it is useful to have a conceptual framework which enables us to distinguish systematically between joint and individual action.
  //- .slide
  //-   +unblur('img')
  //-   .notes This is why we should ask, What distinguishes joint action from parallel but merely individual action?

 
+slide({bkg:'slide06.jpg'})
  .notes The first contrast case shows that the difference can’t be just  a matter of coordination because people who merely happen to be  cycling side-by-side  also need to coordinate their actions in order to avoid colliding.  
  .notes Note also that in both cases each individual's cycling is intentional, so our intentionally cycling together cannot be  only a matter of our each intentionally cycling.

+slide_middle({bkg:'slide07.jpg'})
  .notes: :t
    The second contrast case shows that the difference can’t just be that the resulting 
    actions have a common effect because merely parallel actions can have common effects too.
  .notes: :t
    At this point it is natural to appeal to intention.
    If we are performing actions of some type phi,
    then perhaps for our doing this to be a joint action is just for us to be doing this
    because we each intend that we, you and I, phi together.
  .slide
    +blur('img')
    .notes: :t
      So in the case of the cycling sisters, each would intend that they, the two 
      sisters cycle to school together.
      I'm going to come back to this idea so it's helpful to give it a label.
      Let's call it the Simple View.
    //.notes Maybe we can explain the distinction by appeal to the idea that each agent intends that they all perform the activity.
    p.center each sister intends that
      br
      | they, the sisters, cycle to school 
      span.together together
      span ?
  .slide
    +highlight('.together', 'blue')
  .notes: :t
    Does the appeal to togetherness make this circular?  Not as long as we understand 
    'together' only in the sense in which the three legs of a tripod support the flask \emph{together}.
  .notes: :t
    So we have to understand the intention as concerning an event type that could be a 
    joint action but might also involve merely parallel actions.
  .notes.handout \subsection{Simple View}:
  .notes.handout.ctd 
    +simple_account
  .slide
    +unhighlight('.together', 'blue')
    .notes: :t
      The Simple View intially seems promising because it
      distinguishes the cases on your left from those on your right ...
  .slide
    +hide('p.center')
    +unblur('img')
    .notes: :t
      So, for instance, the strangers do not intend that they, the two strangers, cycle anywhere,
      whereas the sisters do plausibly have such an intention.
    .notes: :t
      But we can see that the Simple View is too simple as it stands by adapting an 
      example from Gilbert and Bratman ...

+slide({bkg:'slide10.jpg'})
  .notes: :t
    Contrast two friends walking together in the ordinary way,
    which is a paradigm case of collective agency,
    with a situation where two gangsters walk together but each is forcing the other.
    It works like this: Gangster 1 pulls a gun on Gangster 2 and says: “let’s walk”
    But Gangster 2 does the same thing to Gangster 1 simultaneously.
    This is walking together in the Tarrantino sense,
    and clearly not a case of joint action.
    At least it’s not joint action unless the central event of of Reservoir Dogs is also a case of joint action.
    
+slide_middle({bkg:'slide11.jpg'})
  .notes: :t
     Since in this case there is something which all the agents involved intend, 
     it seems that our being involved in a joint action can't be a matter only of 
     there being something such that we each intend that we do it together.
  .slide
    +blur('img')
    +fade('img')
    p.center: span diagnosis: cooperation
    .notes: :t
      The counterexample shows that you can meet the conditions of the Simple
      Account without cooperating or being disposed to cooperate.
      But, arguably, shared agency involves cooperation in some way.
  .slide
    .notes.handout.show
      p.em-above 
        span ‘The notion of a [
        span.shared-intention shared intention
        span ] ... implies the notion of cooperation’
    .notes.handout.ctd \citep[p.~95]{Searle:1990em}
    p.right.grey-text: span Searle (1990, p. 95)
    .notes: :t
      If Searle is right, the Simple View must be rejected because 
      you can meet this condition without cooperating or being disposed to cooperate.
    .notes: :t
      Actually a related objection applies to Michael Bratman’s view
      (or so I argue in \citealp{butterfill:2015_planning}), and it’s possible
      that the same diagnosis applies: cooperation is missing. 
      Although Bratman isn’t 100% clear about this, his sufficient conditions for shared intention
      require no more in the way of cooperation than the Simple View does.%
      \footnote{
      Bratman initially \citet[pp.~336--7{Bratman:1992mi} argued that actions can involve 
      shared agency without any of the agents being disposed or committed to 
      support the others; and he takes this to imply that shared agency does 
      not necessarily involve cooperation (see footnote 18, ibid).  However, 
      in a more recent discussion Bratman claims (incorrectly, in my view) 
      that, on his view of shared 
      intention, agents’ having a shared intention puts them ‘under rational 
      pres­sure to be willing to some extent to help [each other] if need be’ 
      (\citealp[p.~56]{bratman:2014_book}; see also footnote 38).
      }
    .slide
      +blur('img, span:not(.shared-intention)', '15px')
      //- shared intention
      .notes: :t
          It's just here that we seem to need shared intention ...
          ... as many philosophers and some scientists have suggested.
          For example, \citet[p.\ 5]{Gilbert:2006wr}: `I take a collective [joint] 
          action to involve a collective [joint] intention.'
          (There are more examples on your handout.)
      .handout \subsection{Shared Intention}
      .handout What distinguishes joint actions from parallel but individual actions?
      .handout.ctd ‘the key property of joint action lies in [...] the participants’ having a [...] “shared” intention.’ \citep{alonso_shared_2009} %[pp.\ 444-5]
      .handout `I take a collective action to involve a collective intention.'  \citep[p.\ 5]{Gilbert:2006wr}
      .handout `The sine qua non of collaborative action is a joint goal [shared intention] and a joint commitment’ 
      .handout.ctd \citep[p.\ 181]{tomasello:2008origins}
      .handout `Shared intentionality is the foundation upon which joint action is built.' \citep[p.\ 381]{Carpenter:2009wq}
      .handout `it is precisely the meshing and sharing of psychological states \ldots \ that holds the key to understanding how humans have achieved their sophisticated and numerous forms of joint activity'
      .handout.ctd \citep%[p.\ 369]{Call:2009fk}
        

    .slide
      +question_mark({marginTop:'-120px'})
      .notes: :t
        But what is shared intention?
        First, it's a technical term: on many accounts, neither shared intentions are shared not intentions.
        Second, I think everyone will agree that shared intention features alongside 
        ordinary, individual intention in practical reasoning; so that the two are 
        inferrentially integrated.
        Third, I take it that shared intention is suppose to stand to joint action 
        roughly as ordinary, individual intention stands to ordinary, individual action ...
      .notes: :t
        Beyond this these is much disagreement.
        Some hold that understanding it requires postulating novel kinds of 
        attitude (\citealp{Searle:1990em}), or novel kinds of subject, namely 
        group \citep{helm_plural_2008} or plural subjects \citep{schmid:2009_plural_bk}, 
        or novel kinds of reasoning \citep{Gold:2007zd}, or novel kinds of 
        commitment  (\citealp{Gilbert:1992rs}), or yet further kinds of 
        novelty \citep[e.g.][]{Roth:2004ki,gallotti:2013_social}. The 
        existence of so many fundamentally conflicting approaches underlines the 
        difficulty of understanding shared intention. 
      .notes: :t
        I want to suggest that this difficulty motivates re-considering the Simple View.
        Of course the Simple View is wrong as it stands.
        But maybe the way to fix it is not to add extra layers of intention
        or mess with the ontology; maybe reflection on more basic representations and
        processes involved in acting together will provide a way to understand joint action,
        one that requires no more intending than is involved in the Simple View.
    .slide
      +line-through('.shared-intention')
      +anim('.question-mark', {'color':'#900000'}, {duration:500})
      //- +style('.question-mark', {'color':'#900000'})
      .notes: :t
        That, anyway, is what I aim to argue in this talk.


+slide({bkg:'corrado_bkg.jpg'})
  +hide('img.bkg', 0)
  .notes: :t
    In what follows I will pursue an alternative, minimal strategy
    for understanding joint action.  The key ingredients, in order 
    of appearance, are:
    multi-agent events,
    collective goals, and 
    an interagential structure of motor representation.
  p Three ingredients:
  p.indent.em-above -- multi-agent events
  p.indent.em-above -- collective goals
  p.indent.em-above -- an interagential structure of motor representation
  .slide
    +show('img.bkg')
    +blur('p')
    .notes: :t
      What follows is based on collaborative work with, among others, 
      Cordula Vesper,
      Natalie Sebanz,
      Guenther Knoblich and 
      Corrado Sinigaglia.
      But each of them may disagree with the details of the view I’m presenting here.
  