---cson
layout: 'deck_unit'
title: "Decision Theory"
tags: []
description: """
  How do rational agents decide which of several available actions to perform?
"""
---

include ../../../fragments/unit_mixins


+slide_middle
  p: :t
    How do rational agents decide which of several available actions to perform?
    
+slide({bkg:'decision_theory/slide1.jpg'})
+slide({bkg:'decision_theory/slide2.jpg'})
+slide({bkg:'decision_theory/slide3.jpg'})
+slide({bkg:'decision_theory/slide4.jpg'})
+slide({bkg:'decision_theory/slide5.jpg'})


+slide_middle
  p: :t
    How do rational agents decide which of several available actions to perform?
  .slide
    p.em-above How you act 
      br
      span is a function of two things:
      br
      span.indent your preferences concerning various outcomes
      br
      span.indent and your beliefs about how likely an available action is to satisfy each of your preferences.


+slide_middle
  .notes: :t
    This is important for linking decision theory with belief-desire.
  p.notes.handout.show: :t
    ‘we should think of meanings and beliefs as interrelated constructs of a single theory just 
    as we already view subjective values and probabilities as interrelated constructs of decision theory’ 
  .notes.handout.ctd \citep[p.~146]{Davidson:1974gh}
  p.right.grey-text: :t
    Davidson, 1974 p. 146
