---cson
layout: 'deck_unit'
title: "Intention"
tags: []
description: """
  What are intentions and what is their role in practical reasoning and action? Some basic
  distinctions from the Philosophy of Action can give us a fix on the notion of intention as
  many philosophers conceive of it.
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins

//- section on intention : see Budapest lecture05 slides



+slide({bkg:'prosecco_accident.png'})
  .notes: :t
    You tilt the bottle thereby pouring prosecco all over Zac's trousers.
    You might say, the goal of my actions was not to soak Zac's trousers but to 
    fill his glass.
  p.question.hide  What is the relation between a purposive action and the outcome or outcomes to which it is directed?
  //- diagram is in joint_action_mixins
  .slide.diagram
    +diagram_action_goal
    .notes: :t
      As this illustrates, 
      some actions involving are purposive in the sense that 
  .slide
    +show('.outcome')
    .notes: :t
      among all their actual and possible consequences, 
  .slide
    +show('.outcome.block .block-glow')
    .notes: :t
      there are outcomes to which they are directed
    .notes: :t
      In such cases we can say that the actions are clearly purposive.
  .slide
    +show('.question')
    .notes: :t
      Concerning any such actions, we can ask
      What is the relation between a purposive action and the outcome or outcomes to which it is directed?
  .slide
    +blur('img.bkg')
    +show('.explain-collective-directedness')
    .notes: :t
      The standard answer to this question involves intention.
  .slide
    +show('.represents')
    .notes: :t
      An intention (1) specifies an outcome, 
  .slide
    +show('.coordinates')
    .notes: :t
      (2) coordinates the one or several activities which comprise the action; 
    .notes: :t
      and (3) coordinate these activities in a way that would normally facilitate the outcome’s occurrence.
    .notes: :t
      What binds particular component actions together into larger purposive actions?  
      It is the fact that these actions are all parts of plans involving a single intention.
      What singles out an actual or possible outcome as one to which the component 
      actions are collectively directed?  It is the fact that this outcome is 
      represented by the intention.
    .notes: :t
      So the intention is what binds component actions together into purposive actions and 
      links the action taken as a whole to the outcomes to which they are directed.
  .slide
    +show('.iasmr')
    .notes: :t
      But is intention the only thing that can link actions to outcomes?
      I will suggest that motor representations can likewise perform this role.
  +reset-escape-inner
    +_slide_middle_inner
      .slide
        +blur('.question, .diagram')
        p.center.huge-glow-210 ?
        .notes: :t
          Any questions or remarks? 
        .notes: :t
          I wonder if anyone wants to say something about this story and whether it answers the question,
          What is the relation between a purposive action and the outcome or outcomes to which it is directed?
          (I think it does and no one has so far objected to it except on very broad theoretical grounds
          involving Anscombe.)
        .notes: :t
          Or maybe there’s a basic question about intention.

