---
layout: 'deck_unit'
title: "Limits of Categorical Perception"
tags: []
description: ""
---

include ../../../fragments/unit_mixins




+slide_middle
  p limit 2: Which model of the emotions?
  p.em-above - automatic process
  p.em-above - temporal window
  .notes short-term constraint
  .notes no propositional attuitudes

+slide_middle
  div(style="width:66%;margin-left:33%;")
    p: :t
      1. Representing propositional attitudes consumes scarce cognitive resources including working memory and inhibition.
    .slide
      p: :t
        2. Processes that consume scarce cognitive resources cannot be automatic. 
      .notes (automatic process: whether it occurs is to a significant degree independent of the subject’s task and motivation)
    .slide
      p: :t
        3. Perceptual processes are automatic.
    .slide
      p: :t
        ∴
      p: :t
        4. Perceptual processes do not involve representations of propositional attitudes.
    .slide
      p: :t
        ∴
      p: :t
        5. Propositional attitudes are not possible objects of perception.


+slide_middle
  div(style="width:66%")
    p: :t
      1.  Perceptions latch on to a particular mental state by virtue of the state’s functional role matching phenomenal expectations.
    .slide
      p: :t
        2.  Phenomenal expectations concern intervals of milliseconds or seconds and are of limited complexity.
    .slide
      p: :t
        ∴
      p: :t
        3. Phenomenal expectations do not match the functional roles of any propositional attitudes.
    .slide
      p: :t
        ∴
      p: :t
        4. Perceptions cannot latch on to propositional attitudes (at least not by means of phenomenal expectations).



+slide_middle
  p limit 2: Which model of the emotions?
  p.em-above - automatic process
  p.em-above - temporal window