---cson
layout: 'deck_unit'
title: "Objection from Action"
tags: []
description: """
  Which responses can automatic mindreading processes dominate? 
  If they could only control proactive gaze, their value would appear limited.
  Further, we know infants can demonstrate belief tracking not only in violation-of-expectation
  and anticipatory looking tasks, but also on tasks which require actions such as pointing and
  helping. Could responses on such tasks be a consequence of automatic mindreading processes?
  """
---

include ../../../fragments/unit_mixins


+slide_middle
  .handout: :t
    \section{Maymon, Sivanantham, Low \& Butterfill (pilot)}

    \begin{center}

    \includegraphics[scale=0.37]{img/maymon_fig1.png}
    
    \end{center}
    
    Sequence of events (1 – 10) in the FB-identity condition.

    \begin{center}
    
    \includegraphics[scale=0.3]{img/maymon_fig3.png}
    
    \end{center}
    
    \% of participants displaying type of first look by condition (**P = 0.005; ***P < 0.001).

    \vfill

    \begin{center}
    
    \includegraphics[scale=0.35]{img/maymon_fig4.png}
    
    \end{center}
    
    Schematic representation of individuals’ (N = 96) course of action in Experiment 1 between
    conditions: (A) FB-identity, (B) FB-location, (C) TB-identity, and (D) TB-location. The course
    was divided into 4 stages: (1) swerving, (2) advancing, (3) reaching, and (4) ultimately handing
    over the actual or non-actual bag (dotted lines represent thresholds for each stage). In
    Experiment 2, we examined how stalling of motor representations, by temporarily tying individual
    observers’ hands (E), affected the course of their (N = 24) helping action in the FB-location
    condition (F).
  p.right.huge-glow
    span objection
    br
    span from action
  .notes: :t
    (a) Automatic processes useless if they only control proactive gaze
    (b) Infants can demonstrate belief tracking not only in v-of-e and anticipatory
    looking, but also on tasks which require actions such as pointing and helping.
  .notes: :t
    Can a dual process theory of mindreading accommodate this objection?
  .notes: :t
    This question came up in discussion with Jason Low 
    and together with Chris Maymon we found a way to answer it.
    Our conjecture was that although automatic mindreading processes 
    are unlikely to feed into deliberative reasoning about what to do,
    they could affect motor actions and so initiate action in the right direction.
  .notes: :t
    To test this conjecture, we developed a simple helping paradigm.
    
//- NEXT : HOW MAYMON ET AL ANSWERS THIS OBJECTION (Edwards & Low provide converging evidence)

+slide_middle
  p conjecture
  p although automatic mindreading processes  are unlikely to feed into deliberative reasoning about what to do,
  p they could affect motor actions 
  p and so initiate action in the right direction.

+slide
  +img_clip('maymon_2017_fig1.png')
  p.source Maymon et al, pilot Figure 1, used with permission
  .notes: :t
    Participants started while seated at a desk; they needed to get up to help 
    a protagonist by taking their chair, standing on it and retrieving a bag
    from a high place.
+slide
  +img_clip('maymon_2017_fig3a.png')
  p.source Maymon et al (pilot), figure 2, used with permission
  .notes: :t
    First fixations show just the pattern you would expect for beliefs about locations.
+slide
  +img_clip('maymon_2017_fig3.png')
  p.source Maymon et al (pilot), figure 2, used with permission
  .notes: :t
    First fixations also show just the pattern our dual process theory predicts for 
    beliefs about identity.
    
+slide
  +img_clip('maymon_cut_fig.png')
  p.source Maymon et al (pilot), figure 2, used with permission
  .notes: :t
    Maymon et al divided participants’ movements into four stages:
    swerving (stage-1), advancing (stage-2) towards the actual or non-actual bag, 
    reaching (stage-3) for the bag, and ultimately handing over (stage-4) the actual or
    non-actual bag.
  .notes: :t
    The first stage of movement shows just the pattern that first fixation did,
    and indeed in FB-LOC, first fixation and swerve are correlated.

    
+slide
  +img_clip('maymon_2017_fig4b.png')
  p.source Maymon et al (pilot), figure 4B, used with permission
  .notes: :t
    Here you can see how participants moved in the false belief location condition.
    There was also a true belief condition.
  .notes: :t
    As you can see, participants mostly started off in the right direction.
    This is the swerve.
  .notes: :t
    But there is quite a bit of switching, and a number of 
  .notes: :t
    The swerve is correlated with the protagonists’ belief state: 
    which direction they swerve in differs between true and false beliefs.
    The direction of swerve is also correlated with proactive gaze
    
+slide_middle
  p Automatic belief tracking doesn’t control how you end up acting, but it can set you off in the right direction.
  .slide
    p.center.em-above Prediction:
    p Slowing 1- or 2-year-olds’ helping responses would reduce the probability that their responses indicate belief tracking.
    p The opposite is true for adults.



