---cson
layout: 'deck_unit'
title: "Mindreading and Motor Representation"
tags: []
description: """
  So far, our dual process theory of mindreading says relatively little about
  the kinds of process involved in mindreading.
  Could automatic mindreading be an extension of motor processes that underpin goal tracking?
  """
---

include ../../../fragments/unit_mixins





+slide_middle
  p.right.huge-glow more predictions
  .notes: :t
    One problem for the dual process theory currently is that we need to be
    able to generate more predictions.

+slide_middle
  .notes: :t
    As I said before, we need four ingredients to characterise a mindreading process:
    a model of minds and actions, a mechanism, a task- and response-analysis and 
    some signature limits.
  p How to characterise a (or the) mindreading process?
  p.indent.hem-around.notes.show.model 1. model of minds and actions 
    span.dp1 (minimal vs canonical)
  p.indent.hem-around.show.mechanisms 2. mechanisms 
      br
      span.dp2a (automatic vs nonautomatic; 
      span.dp2b 
        span.motoric motoric
        span   vs epistemic?
      span.dp2a )
  p.indent.hem-around.notes.show 3. task and response-type analysis
  p.indent.hem-around.notes.show.sig-lim 4. signature limits
  .slide
    +highlight-row('.model, .sig-lim')
    .notes: :t
      So far we have mainly focussed on deriving signature limits from models.
      But this is a fraught process: the more detailed we specify the model, the more
      arbitrary it is. [Compare Spelke’s principles of object perception.]
    .notes: :t
      A dual process theory of mindreading is in essence one that says there are multiple
      kinds of somewhat independent mindreading processes.  
      While this implies that the mindreading processes probably involve substantially different
      models of minds and actions, it doesn’t entail any very concrete committments.
  .slide
    +unhighlight-row('.model')
    +highlight-row('.mechanisms')
    .notes: :t
      We therefore need to combine speculation about models with speculation about mechanisms.
  .slide
    +invert('.motoric')
    .notes: :t
      Given my attachment to the Crude Picture of the Mind, I'm attracted to a 
      simple but bold conjecture: \textbf{automatic mindreading is an extension of motor
      processes that underpin goal tracking}.

+slide
  +img_clip('maymon_2017_fig4ef.png', 'rect(0,360px,999px,0)')
  p.source Maymon et al (pilot), figure 4E-F, used with permission
  .slide
    +clip('img', 'auto')
    .notes: :t
      Hands tied (a) eliminates anticipatory looking indicative of belief tracking, and
      (b) destorys the swerve indicative of belief tracking.
    .notes: :t
      NB: we compared hands-tied with hands-free FB location, and separately with hands-free TB
      location. We did not do hands-tied TB.
      (‘proactive first looks and swerving of subjects in the hands-tied FB-location condition
      resembled proactive first looks and swerving of hands-free subjects in the corresponding
      TB-location condition (P = 0.566 and P = 0.057, respectively). ’)
    .notes: :t
      [Stress that the new conjecture,
      automatic mindreading is an extension of motor processes that underpin goal tracking,
      is an optional development of the dual process theory and not something entailed by it.]



