---cson
layout: 'deck_unit'
title: "Minimal Theory of Mind"
tags: []
description: """
  The construction of a minimal theory of mind provides on account of how
  automatic and nonautoamtic mindreading could make complementary trade-offs between
  speed and accuracy.
  """
---

include ../../../fragments/unit_mixins



+slide_middle
  .q1.hide
    p.huge-glow Q1
    p(style='margin-top:-4em;'): :t
      What do infants, chimps and scrub-jays reason about, or represent, that enables them, within
      limits, to track others’ perceptions, knowledge, beliefs and other mental states?
      
  .q2.hide
    p.huge-glow: span.hide Q2
    p(style='margin-top:-4em;')
      span.hide Why do infants manifest abilities to 
      span.track-beliefs track beliefs
      span.hide  in some cases but not all?
    
  .q3
    p.huge-glow Q3
    p(style='margin-top:-4em;')
      span.a Why is belief-tracking in adults sometimes but not always automatic?
      span.b How could belief-tracking be automatic given evidence that it depends on working memory and consumes attention?
  +blur('.q3 .a')
  
  
+slide_middle
  p.em-above.center Which model of minds and actions characterises automatic mindreading?

+slide({bkg:'model_of_the_mental.jpg'})

+slide({bkg:'unit_441/slide_cambridge_model_031.jpg'})
  .handout An agent’s \emph{field} is a set of objects related to the agent by proximity, orientation and other factors.
  .handout First approximation: an agent \emph{encounters} an object just if it is in her field.
  .handout A \emph{goal} is an outcome to which one or more actions are, or might be, directed.  
  .handout %(Not to be confused with a \emph{goal-state}, which is an intention or other state of an agent linking an action to a particular goal to which it is directed.)
  .handout \textbf{Principle 1}: one can’t goal-directedly act on an object unless one has encountered it.
  .handout Applications: subordinate chimps retrieve food when a dominant is not informed of its 
    | location \citep{Hare:2001ph}; when observed scrub-jays prefer to cache in shady, distant and 
    | occluded locations \citep{Dally:2004xf,Clayton:2007fh}.
  .handout First approximation: an agent \emph{registers} an object at a location just if she most recently encountered the object at that location.
  .handout A registration is \emph{correct} just if the object is at the location it is registered at.
  .handout \textbf{Principle 2}: correct registration is a condition of successful action.
  .handout Applications: 12-month-olds point to inform depending on their informants’ goals and ignorance \citep{Liszkowski:2008al}; 
    | chimps retrieve food when a dominant is misinformed about its location \citep{Hare:2001ph}; 
    | scrub-jays observed caching food by a competitor later re-cache in private \citep{Clayton:2007fh,Emery:2007ze}.
  .handout \textbf{Principle 3}: when an agent performs a goal-directed action and the goal specifies an object, the agent will act as if the object were actually in the location she registers it at.
  .handout Applications: some false belief tasks \citep{Onishi:2005hm,Southgate:2007js,Buttelmann:2009gy}.

+slide({bkg:'unit_441/slide_cambridge_model_032.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_033.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_034.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_035.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_036.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_037.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_038.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_039.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_040.jpg'})
+slide({bkg:'unit_441/slide_cambridge_model_041.jpg'})
+slide({bkg:'liskowski_2008/Slide1.jpg'})
+slide({bkg:'liskowski_2008/Slide2.jpg'})
+slide({bkg:'liskowski_2008/Slide3.jpg'})
+slide({bkg:'liskowski_2008/Slide4.jpg'})
+slide({bkg:'liskowski_2008/Slide5.jpg'})
+slide({bkg:'liskowski_2008/Slide6.jpg'})
+slide({bkg:'liskowski_2008/Slide7.jpg'})

+slide({bkg:'unit_441/slide_cambridge_model_042.jpg'})
  .notes: :t
    Shift from thinking about registration as conditions on success of actions to 
    causes which set parameters for action.
+slide({bkg:'unit_441/slide_cambridge_model_043.jpg'})



+slide_middle
  .hem-around-children
    p Fact:
    p Minimal theory of mind specifics a model of minds and actions
      span.step2.hide , 
    p.step2.hide one which could in principle explain how certain mindreading processes trade accuracy for speed.
    .slide
      +show('.step2')
  .slide.em-above.hem-around-children
    p Conjecture:
    p Automatic mindreading processes are characterised by a minimal model of minds and actions.
  
