---cson
layout: 'deck_unit'
title: "A Role for Motor Processes in Mindreading?"
tags: []
description: """
  """
---

include ../../../fragments/unit_mixins


+slide_middle
  p.notes.handout.show: :t
    ‘There is an early mirror response that is not influenced by the correctness of the movement, 
    and a later modulation that differs according to the correctness of the movements reflecting a deeper 
    level of [cognitive] processing than the early response’
  .notes.handout.ctd \citep{naish:2014_effects}.
  p.right.grey-text Naish et al., 2014; Neuropsychologia).

+slide({bkg:'motor_mindreading/slide01.jpg'})
  .notes: :t
    Outcomes such as reaching for and grasping of a cup can be represented motorically.
+slide({bkg:'motor_mindreading/slide02.jpg'})
  .notes: :t
    As a body of research on mirror neurons and motor simulation more generally demonstrates,
    motor representations of outcomes can generate expectations concerning another agent’s behaviour

+slide({bkg:'motor_mindreading/slide03.jpg'})
  .notes: :t
    These expectations are plausibly compared with the behavior that is actually observed.

+slide({bkg:'motor_mindreading/slide04.jpg'})
  .notes: :t
    And we conjecture that the result of this comparison modulates the strength of the motor representation of the outcome.
  .notes: :t
    Within limits, this modulation will ensures that an outcome represented motorically is likely to be a goal of the observed action.
  .notes: :t
    In this way, motor representations enable goal tracking.


+slide({bkg:'motor_mindreading/slide05.jpg'})
  .notes: :t
    So far we have nothing about belief-tracking. Where could that come in?
  .notes: :t
    Jason’s pilot indicates that belief-tracking, which I suppose involves representing registrations, can influence behavioural expectations.
    But how?



+slide({bkg:'motor_mindreading/slide06.jpg'})
  .notes: :t
    In principle, we might imagine that the belief-tracking process results in a second, independent behavioural expectation.
  .notes: :t
    While we cannot rule this possibility out, it seems to add theoretical complexity.

+slide({bkg:'motor_mindreading/slide07.jpg'})
  .notes: :t
    After all, belief-tracking depend so on goal-tracking in this way: you can only track another’s mental states by tracking their actions. We therefore need the goal-tracking process to provide input to the belief-tracking process.
    
+slide({bkg:'motor_mindreading/slide08.jpg'})
  .notes: :t
    But if the goal-tracking process ignores the belief-tracking process, then false beliefs would cause it to make systematic errors about the goals of actions. Since these errors would feed into the belief-tracking process, it would seem that this process too should go wrong whenever there is a false belief. But then there would be no point in tracking beliefs at all.

+slide({bkg:'motor_mindreading/slide09.jpg'})
  .notes: :t
    Our proposal is therefore different: the belief-tracking process influences the process by which the behavioural expectation is generated.
    The representation of registration means that behavioural expectation is generated as if things were as they are registered as being, rather than as they actually are.
    Put colourfully, another’s registration can change the world as seen by your motor system.
    (This might be why Katheryn has repeatedly found altercentric intereference effects of belief on motor actions.)
  .notes: :t
    This picture has a radical implication about the nature of the automatic belief-tracking processes.
    It implies that those belief-tracking processes must interface directly with motor processes.
    This requires, in turn, that automatic belief-tracking represents objects and outcomes in the same format as the motor representations do.
    Motor processes and belief-tracking must share a common representational format. 
  .notes: :t
    Although lots of details are not specified by the picture, its is does make readily testable predictions. For one thing, it implies that limits on what can be represented motorically are also limits on automatic belief-tracking.

+slide({bkg:'motor_mindreading/slide10.jpg'})
  .notes: :t
    The picture also generates a prediction that has been tested: where a goal-tracking response is underpinned by motor simulation, the goal-tracking will manifest sensitivity to the observed agent’s beliefs.  If Jason’s preliminary findings hold up, they will provide evidence that the prediction is correct.
  .notes: :t
    So far, the picture is neutral about the timing of the effect.  In order to better understand the link between belief-tracking and goal-tracking, it would be helpful to have information about the timings of these processes. In particular, it would be good to know whether the observed agent’s beliefs influence goal-tracking from the earliest point at which it can be observed, or whether there is a period during which goal-tracking processes are unaffected by the agent’s beliefs. In making this kind of discovery possible, Jason’s paradigm should enable us to understand more about how belief-tracking processes are linked (or not) to goal-tracking processes.

+slide({bkg:'motor_mindreading/slide11.jpg'})
  .notes: :t
    [jason’s slides]
+slide({bkg:'motor_mindreading/slide12.jpg'})
  .notes: :t
    [jason’s slides]
+slide({bkg:'motor_mindreading/slide13.jpg'})
  .notes: :t
    [jason’s slides]
+slide({bkg:'motor_mindreading/slide14.jpg'})
  .notes: :t
    [jason’s slides]
+slide({bkg:'motor_mindreading/slide15.jpg'})
  .notes: :t
    [jason’s slides]
+slide({bkg:'motor_mindreading/slide16.jpg'})
  .notes: :t
    [jason’s slides]

