---cson
layout: 'deck_unit'
title: "The Question, version 0.1"
tags: []
description: """
  What could underpin nonhumans’ abilities to track others’ mental states?
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins

.handout: :t
  Many animals including scrub jays \citep{Clayton:2007fh},
  ravens \citep{bugnyar:2016_ravens},
  goats \citep{kaminski:2006_goats},
  dogs \citep{kaminski:2009_domestic},
  ringtailed lemurs \citep{sandel:2011_evidence},
  monkeys \citep{burkart:2007_understanding, hattori:2009_tufted}
  and chimpanzees \citep{melis:2006_chimpanzees,karg:2015_chimpanzees} reliably vary their actions in ways that are appropriate given facts about another’s mental states.
  What could underpin such abilities to track others’ mental states?

+slide_middle
  p.center tracking vs representing mental states
  .notes: :t
    Contrast {representing} a mental state with {tracking} one.
  .notes.handout: :t
    For you to \emph{track} someone’s mental state (such as a belief that there is food behind that rock)
    is for there to be a process in you which nonaccidentally depends in some way on whether she has that
    mental state.
  .notes: :t
    Representing mental states is one way, but not the only way, of tracking them.
    In principle it is possible to track mental states without representing them.
    For example, it is possible, within limits, to track what another visually represents by representing her line of sight only.
    More sophisticated illustrations of how you could in principle track mental states without representing them abound \citep[e.g.][pp.~571ff]{buckner:2014_semantic}.
    What many
    experiments actually measure is whether certain subjects can track mental states:
    the question is whether changes in what another sees, believes or desires are reflected in subjects’ choices of route, caching behaviours, or anticipatory looking (say).
    It is surely possible to infer what is represented by observing what is tracked.
    But such inferences are never merely logical.
  .notes: :t
    Example: toxicity / smell
    
+slide({bkg:'logical_problem/Slide1.jpg'})
+slide({bkg:'logical_problem/Slide2.jpg'})
+slide({bkg:'logical_problem/Slide3.jpg'})


+slide_middle
  p.q What do 
    span.infants infants
    span , chimps and scrub-jays reason about, or represent, that enables them, within limits, to track others’ perceptions, knowledge, beliefs and other propositional attitudes? 
  +line-through('.infants')
  .slide
    .notes The standard debate
    p.indent.em-above -- Is it 
      span.mental-states mental states
      span ?
    .handout.notes.show
      p.indent.mental-intelligible.hide What could make others’ mental states intelligible (or identifiable) to a chimpanzee
        span.infants , infant
        span  or scrub-jab?
    p.indent.em-above -- Or only 
      span.behaviours behaviours
      span ?
    .handout.notes.show
      p.indent.behaviour-intelligible.hide What could make others’ behaviours  intelligible (or identifiable)  to a chimpanzee
        span.infants , infant
        span  or scrub-jab?
