---cson
layout: 'deck_unit'
title: "Interaction and Nonlinguistic Referential Communication"
tags: []
description: """
  We’ve seen that capacities for interaction make available a route
  to knowlegde of others’ goals which avoids the problem of opaque means,
  characterised by the ‘your-goal-is-my-goal’ inference.
  This suggests a solution to a challenge about nonlinguistic referential communciation.
  """
---

include ../../../fragments/unit_mixins

.notes: :t
  *TODO link with inefficient actions as communicative.
  How do we fix the goal of an inefficient action?
  Consider the simple ‘inefficient route’ study as an example.


+slide_middle
  p.center nonlinguistic referential communication
  .notes: :t
    Why is nonlinguistic referential communication promising?
    It promises to provide a link between basic forms of social cognition
    involving, say, goal ascription, and more sophisticated forms of 
    mindreading involving the ascription of propositional attitudes.
    To see why, consider an inference ...
  .slide
    p.em-above.notes.handout.show 1. At time t, Ayesha comes to hold ‘Questo è pericoloso’ true because p
      span.step2.hide , while she is pointing to the dog
    .slide
      +show('.step2')
    .slide
      p.em-above.notes.handout.show 2. Something about the dog (and not, say, it’s Shoemaker shadow) explains Ayesha’s change in attitude towards  ‘Questo è pericoloso’.
      .notes: :t
        If only we had a theory of interpretation that extended to nonlinguistic referential communication ...

+slide
  .notes: :t
    Earlier I suggested that we need something analogous to the 
    Teleological Stance for nonlinguistic refernetial communication.
  .notes: :t
    I also observed that it seems not straightforward to provide
    such an inference.
    But thinking about the your-goal-is-my-goal strategy suggests 
    an alternative approach ...
  p 1. a is an act of nonliguistic referential communication
  p.first-dummy .
  p.first-idea.hide 2. The finger is pointing at O
  p.second-dummy .
  p.second-idea.hide 2. The agent intends to communicate about O
  p.third-dummy .
  p.third-idea.hide 3. ???
  p Therefore:
  p X. The referent of action a is object O


+slide_middle
  p associations ...
  p.indent - pointing 
  p.indent - arrows
  p.indent - words
  .notes: :t
    Nonlinguistic communicative gestures are associated with their targets.
    A chimpanzee will follow a pointing finger to a container \citep[see][p.\ 6]{Moll:2007gu},
    children can see where an arrow is pointing \citep[compare][]{leekam_adults_2010},
    and even prelinguistic six month olds associate some words with objects
     \citep{tincoff:1999_beginnings_,tincoff:2011}.
    (There is debate on when infants are first able to rapidly associate words with novel objects \citep{werker:1998_acquisition,friedrich:2011_word_}.)
  .slide
    p.em-above ... are not sufficient for comprehension
    

+slide({bkg:'slide_poland_080.jpg'})
  .notes: :t
    Object choice task: The chimpanzee follows the point but doesn’t open the container
    the experimenter is pointing to.
+slide({bkg:'slide_poland_084.jpg'})
  .notes: :t
    Object choice task: [replica not arrow: Leekam et al 2010, p. 117] The 2-
    and 3-year-olds can associate the replica with the corresponding container
    but don’t make use of the association when there is a neutral face.
  .notes: :t
    And they don’t follow the arrow when the face is absent (although they will
    follow a pointing finger).

+slide_middle
  p associations ...
  p.indent - pointing 
  p.indent - arrows
  p.indent - words
  p.em-above ... are not sufficient for comprehension
  .notes: :t
    So what would be sufficient?

+slide_middle
  p 1. The collective goal of our actions is the obtaining of a sticker.
  p 2. You just performed an action.
  p.em-above Therefore:
  p.em-above 3. Obtaining the sticker is a goal of your action.
  .slide
    p.em-above 4. Your action is associated with object O.
    p.em-above Therefore:
    p.em-above 5. Object O has something to do with the obtaining of a sticker.

+slide({bkg:'slide_poland_084.jpg'})
//- +slide({bkg:'slide_poland_085.jpg'})

+slide_middle
  p.center goal-directed -> communicative?
  p.em-above.center via reflection

//-
//-
//- +slide({bkg:'slide_poland_081.jpg'})
//-   .notes: :t
//-
//-
//- +slide({bkg:'slide_poland_082.jpg'})
//-   .notes: :t
//-
//-
//- +slide({bkg:'slide_poland_083.jpg'})
//-   .notes: :t
//-
//-
//- +slide({bkg:'slide_poland_084.jpg'})
//-   .notes: :t
//-
//-
//- +slide({bkg:'slide_poland_085.jpg'})
//-   .notes: :t
     
+slide_middle
  .notes.handout.show
    p Csibra’s ‘two stances’:
    p.em-above Teleological and referential action interpretation ‘rely on different kinds of action understanding’
    p.em-above These are initially two distinct ‘action interpretation systems’ and they come together later in development
  .notes.handout.ctd \citep[p.~456]{Csibra:2003kp}
  p.grey-text.right Csibra (2003, p. 456) 
