---cson
layout: 'deck_unit'
title: "The Objects of Categorical Perception"
tags: []
description: ""
---

include ../../../fragments/unit_mixins
include ../../../fragments/lecture_mixins




+slide_middle
  p.center What are the perceptual processes supposed to categorise?
  .notes standard view: fixed expressions linked to emotional categories

section.slide
  p.center
    +img('aviezer_2012_fig2A3.jpg')
  p.source Aviezer et al (2012, figure 2A3)
  .notes: :t
    But are the things categorised by perceptual processes facial configurations?
    This view faces a problem.
    There is evidence that
    the same facial configuration can express intense joy or intense  anguish depending on the posture of the body it is attached to,
    and, relatedly, that humans cannot accurately determine emotions from spontaneously occurring
    (spontaneously occurring---i.e.\ as opposed to acted out)
    facial configurations \citep{motley:1988_facial,aviezer:2008_angry,aviezer:2012_body}.
    These and other findings, while not decisive, cast doubt on the view that categories of emotion are associated with categories of facial configurations \citep{hassin:2013_inherently}.
  .handout: :t
    The same facial configuration can express intense joy or intense anguish depending on the posture of
    the body it is attached to; and humans cannot accurately determine emotions from
    spontaneously occurring (as opposed to acted out) facial
    configurations \citep{motley:1988_facial,aviezer:2008_angry,aviezer:2012_body}.
    

+slide_middle
  p.notes.handout.show Aviezer et al's puzzle:
  p.notes.handout.ctd.show 
    span Given that  
    span.noblur.noblur2 facial configurations
    span.noblur2  are not diagnostic of emotion
    span , why  
    span.noblur are they categorised by perceptual processes?
  .notes: :t
    This evidence makes the findings we have reviewed on categorical perception puzzling.
    Given that the facial configurations are not diagnostic of emotion,
    why are they categorised by perceptual processes?%
    \footnote{
    Compare \citet[p.\ 1228]{aviezer:2012_body}:
    `although the faces are inherently ambiguous, viewers experience illusory affect and erroneously
    report perceiving diagnostic affective valence in the face.'
    }
    This question appears unanswerable as long as we retain the assumption---for which, after all, no
    argument was given---that the things categorical perception is supposed to categorise are facial
    configurations.
  .slide
    +blur('span:not(.noblur2)')
  .slide
    +unblur('span:not(.noblur2)')
    +blur('span:not(.noblur)')
  .slide
    p.em-above ... maybe they aren’t.
    .notes: :t
      But if we reject this assumption, what is the alternative?
    
+slide_middle
  p.center speech perception

