---cson
layout: 'deck_unit'
title: "Object Indexes and the Launching Effect"
tags: []
description: """
  A wild conjecture: Causal interactions are detected, or otherwise treated specially, by   
  perceptual processes
  involved in segmenting and tracking objects.
  """
---

include ../../../fragments/unit_mixins

//- TOOD: \citep{choi:2006_measuring} on Kruschke and Fragassi



+slide_middle
  p How to get beyond intuition?
  p The launching effect: detecting a 50ms difference in the delay between two movements.
  ol.notes.show
    li.hem-around.focus How is launching detected?  For example, does it involve 
      span.pp perceptual processes
      span ?
    li.hem-around Why is a delay of up to around 70ms consistent with the launching effect occuring?
  +highlight-row('.focus')
  +invert('.pp')
  //- +blur('p, ol li:not(".focus")', '2px', 0)
  .notes: :t
    Ok, but what is the nature of these perceptual processes?
    Object indexes ...


    
+slide_middle
  p.center object indexes require 
    span.causal
      span.highlight tracking
      span  some 
      span.highlight causal interactions
    span  ...
  .slide
    +highlight('.causal')
    .notes: :t
      But before we get to that, what is this about causal interactions?
      It's reasonably obvious that object indexes require segmentation (otherwise how would they
      attach to *objects*), and the evidence that they can survive occlusion is relatively easy to
      understand.  But the point that having object indexes involves tracking causal interactions
      is less straightforward.  So let's consider that ...
  
+slide({bkg:'slide_causal_london_52.jpg'})
  .notes: :t
    Object indexes are linked to causation.
    In order to track objects, a perceptual system has to be sensitive to be causal interactions
  .notes: :t
    Why is this true?
    Because when you have a causal interaction, there's a conflict between principles of object 
    perception e.g. distinct surfaces=>two objects, vs good continuity of motion=>one object
    The perceptual system needs to know when conflicts should be reconciled and when they should 
    be written off.
    We get perceptual effects of causal interactions when there are conflicts among cues of object 
    identity.
  .notes: :t
    This is a point Michotte made.  He found that launching occurs when there is a conflict between 
    cues to object identity: good continuity of movement suggests a single object whereas the 
    existence of two distinct surfaces indicates two objects.
  .notes: :t
    It is plausible that other types of causal interaction also involve conflicts between cues 
    to object identity.



+slide_middle
  p.center preliminary evidence


  
+slide({bkg:'kruschke_1996_fig2_1.jpg'})
  p.source Kruschke and Fragassi, 1996 figure 2 (part)
  .notes: :t
    Krushke and Fragassi (1996) have shown that the object-specific preview effect vanishes 
    in launching but not in various spatio-temporally similar sequences.  Since the object-specific 
    preview effect is regarded as diagnostic of feature binding, this is evidence that in launching 
    sequences, features of the second object (such as motion) remain bound to the first object for 
    a short time after the second object starts to move. 
  
+slide({bkg:'kruschke_1996_fig2_2.jpg'})
  p.source Kruschke and Fragassi, 1996 figure 2

+slide
  +img_clip('kruschke_1996_fig3.png')
  p.source Kruschke and Fragassi, 1996 figure 3
  .slide
    +blur('img')
    +reset
      p: :t
        ‘Unfortunately, this preliminary study has not received any published follow-up work, to our
        knowledge, so it is not clear if it would also generalize beyond highly specific contrasts.’
      .notes: :t
        \citep{choi:2006_measuring} on Kruschke and Fragassi:
        ‘one previous study suggested that causal events gave rise to diVerent
        patterns of object-specific priming than non-causal events (Kruschke &
        Fragassi, 1996). Unfortunately, this preliminary study has not received any
        published follow-up work, to our knowledge, so it is not clear if it would
        also generalize beyond highly specific contrasts’  \citep[p.~108]{choi:2006_measuring}.
      p.grey-text.right Choi & Scholl, 2006 p. 108




+slide_middle
  .notes: :t
    This finding fits (by design) almost perfectly with Michotte’s phenomenological analysis ...
  p.notes.show: :t
    ‘the movement performed by object B appears simultaneously under two
    different guises: (i) as a movement (belonging to object A), (ii) as a
    change in relative position (by object B)’
  .notes.ctd \citep[p.~136]{Michotte:1946nz}
  p.right.grey-text Michotte 1946 [1963], p. 136 
  p.em-above.notes.show: :t
    ‘the physical movement of the object struck gives rise to a double
    representation. This movement appears at one and the same time (a) as a
    continuation of the previous movement of the motor object, and (b) as a
    change of relative position (a purely spatial withdrawal) of the projectile
    in relation to the motor object.’
  .notes.ctd \citep[p.~140]{Michotte:1946nz}
  p.right.grey-text Michotte 1946 [1963], p. 140


+slide_middle
  .handout.notes: :t
    \emph{Causal Object Index Conjecture}: 
  p Causal Object Index Conjecture: 
  .handout.notes.show.ctd: :t
    Effects associated with the ‘perception of causation’
    are consequences of errors (or error-like patterns) in the assignments of object indexes and
    their phenomenal effects.
  .slide.em-above
    p.notes.handout.show.em-above: :t
      Predictions: 
    p.notes.handout.show.hem-around.ctd: :t
      i. Where there is perception of causation, there will be errors (or error-like patterns)
      in the assignments of object indexes.
    p.two.notes.handout.show.hem-around.ctd: :t
      ii. Factors that can influence how object indexes are assigned or maintained can influence 
      perception of causation.
  .slide
    +highlight-row('.two')
    .notes: :t
      There is already some evidence which hints at this ...

+slide_middle
  .notes: :t
    The conditions that affect launching are consistent with it being a consequence 
    of how object indexes are updated and maintained ...
  p.toblur.notes.handout.show: :t
    ‘Michotte and his followers worked out many of the factors which mediate
    the perception of causality, such as the role of absolute and relative
    speeds, spatial and temporal gaps in the objects' trajectories, differences
    in the durations and angles of each object's trajectory, etc ...
  p.notes.handout.ctd.show
    span.toblur ‘This research has generally shown that many different  
    span spatiotemporal parameters are critical for perceiving causality, but 
    span.toblur  that 
    span featural parameters (eg colors, shapes, sizes) play little or no role.
    span.toblur ’
  .notes.handout.ctd \citep[p.~456]{Scholl:2004dx}
  p.right.grey-text Scholl and Nakayama 2004, p. 456
  .slide
    +blur('.toblur')


+slide
  .notes: :t
    Assignments of object indexes are not generally sensitive to featural information 
    (*check: perceiving expressions of emotion paper / dev.mind).
  +img_clip('scholl_2007_fig4.png')
  p.source Scholl 2007, figure 4


+slide_middle
  p Causal Object Index Conjecture: 
  .notes.show.ctd: :t
    Effects associated with the ‘perception of causation’
    are consequences of errors (or error-like patterns) in the assignments of object indexes and
    their phenomenal effects.
  .em-above
    p.notes.show.em-above: :t
      Predictions: 
    p.one.notes.show.hem-around.ctd: :t
      i. Where there is perception of causation, there will be errors (or error-like patterns)
      in the assignments of object indexes.
    p.two.notes.show.hem-around.ctd: :t
      ii. Factors that can influence how object indexes are assigned or maintained can influence 
      perception of causation.
  +highlight-row('.two')
  .notes: :t
    There is even more evidence which hints at this ...


+slide_middle
  .notes: :t
    If you've read Rips (2011) you’ll know about 
    dissociations between the launching effect and causal reasoning.
  p.center dissociations between the launching effect and causal reasoning 
    span.grey-text (Rips 2011)
  .notes: :t
    Schlottmann and Shanks (1992, Experiment 2) ... The point of this
    experiment was to distinguish between cues to causality provided by
    perceptual features within a display (launching vs. delay) and by
    statistical contingencies (between Object A moving and Object B moving) as
    observed across trials. If Michotte’s hypothesis is correct, statistical
    contingencies should not affect perceptual judgments of whether a
    launching has occurred. Conversely, perceptual features should not affect
    judgments of whether A’s movement is statistically necessary for B’s
    movement.  ... The results of the study were clear cut ...: Launching versus delay
    affected ratings of how convincing the collisions looked but not ratings of
    necessity. However, the presence of a predictive statistical relation
    affected ratings of necessity but not ratings of convincingness. These
    results are consistent with Michotte’s hypothesis: Statistical
    contingencies over trials do not affect the cause detector on the right of
    Figure 3A, which is sensitive only to purely spatio-temporal properties of
    the individual displays.
    \citep[p.~87]{rips:2011_causation}
  .notes: :t
    Schlottman & Shanks (1992, p. 340): 
    ‘Despite the fact that a colour change of Object B more reliably predicted B’s movement than did the
    impact of Object A, where was no impact of the predictive relationship on subjects’ ratings of
    perceived causality. In other experiments asking subjects to make causal judgements, however, such
    alternative predictive signals are known to reduce subjects’ ratings dramatically (Shanks, 1986).’
  .notes: :t
    ‘The clearest dissociation among the neuropsychology studies comes from
    Roser, Fugelsang, Dunbar, Corballis, and Gazzaniga (2005), who tested two
    split-brain patients. ... The patients were able to discriminate the
    launching sequence from the others only if their right hemisphere processed
    the event. By contrast, the same patients were able to solve a causal
    reasoning problem—figuring out which of two switches controlled a
    light—only if the problem appeared to their left hemisphere.’
    \citep[p.~88]{rips:2011_causation}




+slide
  p Causal Object Index Conjecture: 
  .notes.show.ctd: :t
    Effects associated with the ‘perception of causation’
    are consequences of errors (or error-like patterns) in the assignments of object indexes and
    their phenomenal effects.
  .em-above.implications
    p.notes.show.em-above: :t
      Predictions: 
    p.one.notes.show.hem-around.ctd: :t
      i. Where there is perception of causation, there will be errors (or error-like patterns)
      in the assignments of object indexes.
    p.two.notes.show.hem-around.ctd: :t
      ii. Factors that can influence how object indexes are assigned or maintained can influence 
      perception of causation.
  +highlight-row('.two')
  .slide
    +unhighlight-row('.two')

+slide
  p Causal Object Index Conjecture: 
  .notes.show.ctd: :t
    Effects associated with the ‘perception of causation’
    are consequences of errors (or error-like patterns) in the assignments of object indexes and
    their phenomenal effects.
  .em-above.objections
    p.notes.show.em-above: :t
      Potential objections: 
    .slide
      p.one.notes.show.hem-around.ctd: :t
        i. Adaptation effects [see appendix]
    .slide
      p.two.notes.show.hem-around.ctd: :t
        ii. Rips-Leslie argument from the Pulfrich double-pendulum illusion [see appendix]




+slide_middle
  p How to get beyond intuition?
  p The launching effect: detecting a 50ms difference in the delay between two movements.
  ol.notes.show
    li.hem-around.focus How is launching detected?  For example, does it involve 
      span.pp perceptual processes
      span ?
    li.hem-around Why is a delay of up to around 70ms consistent with the launching effect occuring?
  +highlight-row('.focus')
  +invert('.pp')
  //- +blur('p, ol li:not(".focus")', '2px', 0)
  .slide
    +unhighlight-row('.focus')
    +uninvert('.pp')
    .notes: :t
      Very good, but what does this tell us about the question with which I started?
      I.e. can humans perceive causal interactions?