---cson
layout: 'deck_unit'
title: "An Objection to the Intentional Stance"
tags: []
description: """
  Does the Intentional Stance actually describe how it would be possible,
  even in principle, to infer facts about minds and actions from 
  evidence that can 
  be described without knowing anything about the particular actions, beliefs, desires and 
  other mental states of any individual?
  """
---

include ../../../fragments/unit_mixins

  

+slide_middle
  .handout #{document.description}
  .handout: :t
    No.  If an interpreter actually used Dennett’s Intentional Strategy,
    what would enable her to distinguish your actions, beliefs, desires,
    feelings and other mental states from anybody else’s?
    Essentially only your location in space and your biological needs.
    This is probably insufficient to distinguish 
    distinguish your actions, beliefs, desires, feelings and other mental 
    states from others nearby who have similiar biological needs.
  
  .container_12.em-above
    .grid_6
      //- p.center EITHER:
      p.center
        //- img(src='/img/hummus.jpg', style="width:200px; height:169px")
        +colour-box('red','150')
      p.center [contains food]
    .grid_6
      //- p.center OR:
      p.center 
        //- img(src='/img/hamburger.jpeg', style="width:200px")
        +colour-box('blue','150')
      p.center [contains poison]
  .notes: :t
    Suppose someone is faced with a choice between these two things.
    What will she choose?
    Let’s apply the Intentional Stance to make a prediction.
  .notes: :t
    The Intentional Stance tells us to attribute a desire for food.
    And to attribute beliefs the agent ought to have, which in this case
    are the beliefs that this stuff is poison and that this stuff is food.
  .notes: :t
    We then assume rationality in order to predict an action:
    she will choose the food, not the poison.
  .notes: :t
    Now what happens when we observe that our prediction is wrong
    and that she chooses the poison which looks like food?
  .notes: :t
    It’s just here that her behaviour is informative, on the Intentional
    Stance.
    The failure of our prediction tells us that we are wrong about something.
  .slide
    .notes: :t
      But what are we wrong about?  The belief, the desire or the rationality?
    p.em-above Error of
    p.indent - belief
    p.indent - desire
    p.indent - rationality
    .notes: :t
      Of course we cannot hope to work out what the error is on the basis
      of just this observation.
      But we can sometimes distinguish false belief (this poison is food)
      from inappropriate desire (to eat something poisonous) from 
      a faulty link between beliefs-desire pairs to actions.  
  .slide
    +blur('p:not(.theQ)')
    +blur('img', '10pxn')
    .notes: :t
      What we want from a theory of interpretation is an explanation of
      how the available evidence ever enables us to distinguish between
      different kinds of errors. 
      And as far as I can tell Dennett has not attempted to supply such a 
      theory.
    .notes: :t
      This illustrates a more general problem for Dennett.

+slide_middle
  .notes On the intentional strategy,
  p The Intentional Strategy 
  p.em-above.notes.show: :t
    What enables an interpreter to distinguish your actions, beliefs, desires,
    feelings and other mental states from anybody else’s?
  .notes: :t
    On the intentional strategy as Dennett describes it, it basically comes
    down to two things:
  .slide.notes.show
    p.indent - your ‘place in the world’ (location?)
    p.indent - your biological needs
  .notes: :t
    So I think it is clearly a mistake to say that the Intentional Strategy 
    is an account of radical interpretation.
    Minimally, an account of radical interpretation needs to explain how 
    the interpreter can identify the distinctive actions, emotions, 
    beliefs, desires and other
    mental states of an individual.  
    The Intentional Strategy appears fundamentally unsuited to this purpose
    because the Intentional Strategy involves making very little use of evidence.
  .notes: :t
    By itself,
    this is not a deep objection to Dennett.  You might say, his theory 
    is fine as far as it goes; it was only meant to cover a couple of basic
    principles, leaving much of the project for future development.
  .notes: :t
    But what exercises me is that we don’t have an account of radical interpretation.
    We have yet to explain how 
    an interpreter can identify the distinctive actions, emotions, 
    beliefs, desires and other
    mental states of another individual.