---cson
layout: 'deck_unit'
title: "A Puzzle about Thought, Experience and the Motoric"
tags: []
description: """
  Motor representations occur when merely observing others act and sometimes influence thoughts about the
  goals of observed actions. Further, these influences are content-respecting: what you think about an
  action sometimes depends in part on how that action is represented motorically in you. The existence of
  such content-respecting influences is puzzling. After all, motor representations do not feature
  alongside beliefs or intentions in reasoning about action; indeed, thoughts are inferentially isolated
  from motor representations. So how could motor representations have content-respecting influences on
  thoughts?
  """
---

include ../../../fragments/unit_mixins

+slide_middle
  p.hem-around In action observation, motor representations of outcomes 
    span.step2.hide ...
  p.hem-around.step2.hide ... underpin goal-tracking
    span.step3.hide , and
  p.hem-around.step3.hide sometimes facilitate the identification of goals in thought.
  .slide
    +show('.step2')
  .slide
    +show('.step3')
  .slide
    p.em-above So
    p where motor representations influence a thought about an action being directed to a particular outcome, there is normally a motor representation of this outcome, or of a matching outcome.
    .notes: :t
      This conclusion entails that motor representations have content-respecting
      influences on thoughts. It is the fact that one outcome rather than another is represented
      motorically which explains, at least in part, why the observer takes this outcome (or a matching
      one) to be an outcome to which the observed action is directed.
  .slide
    p.em-above But
    p how could motor representations have content-respecting influences on thoughts 
      span.step4.hide given their inferential isolation
      span ?
    .notes: :t
      But how could motor representations
      have content-respecting influences on thoughts? One familiar way to explain content-respecting
      influences is to appeal to inferential relations. To illustrate, it is no mystery that your beliefs
      have content-respecting influences on your intentions, for the two are connected by processes of
      practical reasoning. But motor representation, unlike belief and intention, does not feature in
      practical reasoning. Indeed, thought is inferentially isolated from it. How then could any motor
      representations have content-respecting influences on thoughts?
    .slide
      +show('.step4')

section.slide
  +_slide_middle_inner
    .q.hide
      p.center.huge-glow-180.hem-above ?
  +reset
    +_slide_middle_inner
      p.center motor representation ->  
        span.experience experience of action
        span   -> thought
      .notes: :t
        In something like the way experience may tie thoughts about seen objects to the representations
        involved in visual processes, so also it is experience that connects what is represented
        motorically to the objects of thought.
      .notes: :t
        [significance]
        This may matter for understanding thought about action. On the face of it, the inferential
        isolation of thought from motor representation makes it reasonable to assume that an account of
        how humans think about actions would not depend on facts about motor representation at all. But
        the discovery that motor representations sometimes shape experiences revelatory of action
        justifies reconsidering this assumption. It is plausible that people sometimes have reasons for
        thoughts about actions, their own or others', that they would not have if it were not for their
        abilities to represent these actions motorically. To go beyond what we have considered here, it
        may even turn out that an ability to think about certain types of actions depends on an ability
        to represent them motorically.
      .notes: :t
        [consequence]
        One consequence of our proposal concerns how experiences of one's own actions relate to
        experiences of others' actions. For almost any action, performing it would typically involve
        receiving perceptual information quite different to that involved in observing it. This may
        suggest that experiences involved in performing a particular action need have nothing in common
        with experiences involved in observing that action. However, two facts about motor
        representation, its double life and the way it shapes experience, jointly indicate otherwise. For
        actions directed to those goals that can be revealed by experiences shaped by motor
        representations, there are plausibly aspects of phenomenal character common to experiences
        revelatory of one's own and of others' actions. In some respects, what you experience when others
        act is what you experience when you yourself act.
    .slide
      +show('.q')
    .slide
      +highlight('.experience', 'red')
      .notes: :t
        The claim that there is expeirence of action is based on an earlier argument.
        I now want to review and then object to that argument.
        (The conclusion may be correct, but the argument does not establish it.)
  
+slide_middle
  p.huge-glow Interface Problem
  p(style='margin-top:-1.2em') How could motor representations have content-respecting influences on thoughts given their inferential isolation?


