---cson
layout: 'deck_unit'
title: "Radical Interpretation: The Question"
tags: []
description: """
  ‘I want to know what it is about propositional thought--our beliefs,
  desires, intentions and speech--that makes it intelligible to others.’
  (Davidson, 1995 p. 14)
  """
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins

+slide_middle
  .notes.handout.show
    p.em-above
      span ‘I want to know what it is about 
      span.propositional-thought propositional thought
      span ---our beliefs, desires, 
      span intentions and speech---that makes it intelligible to others.’
  .notes.handout.ctd \citep[p.~14]{Davidson:1995nl}
  p.right.grey-text Davidson (1995, 14)
  .slide
    +invert('.propositional-thought')
    .notes: :t
      The difference is just that whereas Davidson focusses on propositional thought,
      one theme of my talk will be that we need to consider a wider range of mental phenomena, including
      emotional processes, attention and goal-directed action.





+slide_middle
  +radicalInterpretationProject({handout:true, step:true})
  .notes: :t
    Let me start with the aim of an account of radical interpretation.
    An account of radical interpretation is an account of how you could 
    in principle infer facts about actions and mental states from
    non-mental evidence.
    This is the fundamental project in theorising about social cognition
    (as I’ll explain shortly [by invoking Marr’s levels]).
  .slide
    +invert('.the-evidence')
    .notes: :t
      The evidence is evidence that you could possess in advance of knowing
      what any particular individual believes, desires, intends and so on.
  .slide
    +uninvert('.the-evidence')
    +invert('.infer')
    .notes: :t
      Here we must be careful.
      Donald Davidson and David Lewis have both used the term ‘radical interpretation’.
      But Lewis is interested in how what I am calling ‘The Evidence’ determines facts about
      the mind.  This is a *metaphysical* question.
      By contrast, Davidson is interested in the possibility of inferring The Mind from
      The Evidence.  He is not assuming---and, I think, does not belive, that the Evidence
      metaphysically determines The Mind (although he’s sometimes interpreted as so believing).
      Davidson’s project (and the part of Dennett’s we’re interested in) is
      epistemological, not metaphysical.
    .notes: :t
      [NB: this is particularly important because we’re talking about Dennett]
    .slide
      +uninvert('.infer')




