---cson
layout: 'deck_unit'
title: "Feelings of Agency"
tags: []
description: """
  Feelings of agency may be a paradigm case of for metacognitive feelings.
  They seem to arise from a number of cues including
  the fluency of an action selection process (that is, the ease or difficulty involved in
  selecting one among several possible actions to perform motorically; this can be manipulated
  by, for example, providing helpful or misleading cues to action
  \citep{wenke:2010_subliminal,sidarus:2013_priming,sidarus:2017_how}).
  """
---

include ../../../fragments/unit_mixins



//-
    sense of agency as a model.
    (i) It serves to link two processes concerned with evaluating agency
    (ii) It’s causes include (a) matching outcomes to motor representations; and (ii) action
    selection fluency (=ease of selecting between alternative actions, e.g. it becomes harder when
    there is an incompatible cue) \citep{wenke:2010_subliminal,sidarus:2013_priming,sidarus:2017_how}.

+slide({bkg:'sense_of_agency4.jpg'})
  .notes: :t
    In thinking about this challenge it may be helpful to focus on the sense of agency.
  .notes: :t
    It’s quite well established that there are feelings of agency, and these seem to arise
    from a number of cues including ...
    

+slide({bkg:'sense_of_agency1.jpg'})
  p.source Adapted from Sidarus & Haggard, 2016 figure 5
  .notes: :t
    ... comparison between outcomes represented motorically and outcomes detected sensorily and ...
    
+slide({bkg:'sense_of_agency2.jpg', blend:'screen'})
  p.source Adapted from Sidarus & Haggard, 2016 figure 5
  .notes: :t
    ... the fluency of an action selection process (that is, the ease or difficulty involved in 
    selecting one among several possible actions to perform motorically; this can be manipulated by,
    for example, providing helpful or misleading cues to action
    \citep{wenke:2010_subliminal,sidarus:2013_priming,sidarus:2017_how}).


+slide({bkg:'sense_of_agency3.jpg', blend:'screen'})
  .notes: :t
    The sense of agency is interesting to us because it serves to link two 
    largely independent processes concerned with evaluating whether you are the agent of an event.
+slide({bkg:'sense_of_agency5.jpg', blend:'screen'})
  .notes: :t
    One involves detecting these cues ...
+slide({bkg:'sense_of_agency6.jpg', blend:'screen'})
  .notes: :t
    the other involves thinking about it, perhaps in the light 
    of your background knowledge.
  .notes: :t
    You can think about whether you are the agent of an event, you don’t need to go with your
    feelings. When someone asks you whether you felt you were in control, the right answer is to say
    ‘Well, I don’t know, this is a psychological experiment so there’s a good chance you were
    tricking me.’ [But despite all of the possible ways in which reflection on the question might
    lead to a variety of answers, people give replicable answers that seem to reflect fluency. Why?
    Because they’re answering on the basis of a feeling rather than on the basis of reflection.]
        
            
  .slide
    +reset-escape-inner
      +blur('img.bkg:not(.layer2), p.source')
      img.bkg.layer2(src='/img/sense_of_agency4.jpg')
    .notes: :t
      So what is this sense of agency?
    .notes: :t
      First, it phenomenal rather than epistemic.
      It is an aspect of the phenomenal character of some experience associated with acting.
      So we can call it a feeling.
    .notes: :t
      Second, it is metacognitive in the sense that it’s normal causes include processes which 
      monitor action selection and production.
      So we can call it a \emph{metacognitive feeling}.
    .notes: :t
      \footnote{Compare \citet[p.~310]{dokic:2012_seeds}: ‘the causal antecedents of noetic feelings
      can be said to be metacognitive insofar as they involve implicit monitoring mechanisms that
      are sensitive to non-intentional properties of first-order cognitive processes.’}
