---
layout: 'deck_unit'
title: "Sharing Smiles"
tags: []
description: "Sharing smiles and otherwise collectively expressing emotions makes available to us facets of mental states that are not available on the basis of perception."
---

include ../../../fragments/unit_mixins




+slide_middle
  p.center sharing a smile
  .notes: :t()
    So my aim is to show that manifesting collective intentionality enables us to exploit routes to knowledge of others' minds
    which would be unavailable if we were entirely passive observers.
    To this end I want to focus on a one kind of interaction, sharing a smile.
  .notes Preview: I'll argue that sharing a smile provides us with a route to knowledge of facts about the ways others' emotions unfold,
  .notes where we might not otherwise be in a position to know these facts.

+slide({bkg:'lily_bed.jpg'})
  .notes: :t()
    [FIRST POINT: emotions unfold over time]
    When it comes to knowledge of others’ emotions, it might initially seem hard to imagine there could be a role for joint action because mere observation provides so much.
    Because there are characteristic expressions of emotion, a mere observer can know of Lily’s amusement just from her facial expression.
    Expressions of emotion plausibly also enable us to identify the objects of others’ emotions.
    Since the causes of expressions like Lily’s smile are often enough the objects of the emotions they express, 
    we can identify the objects of emotion using whatever sorts of causal reasoning enable us to work out what someone tripped over.
    If you know what is causing Lily to smile you are probably in a position to know what she is amused by, that is the object of her amusement.
  .notes: :t()
    Emotions are not simply happiness or fear; they are things that unfold over time.
    That initial jolt of fear as you hear the intruder enter your house is becomes intense as she moves closer, and then acquires an angry edge as you hear her breaking that vase your grandmother gave you.
    Or imagine watching a clown falling over.  Your amusement might develop from an initial wince to growing hilarity that abruptly ends as the clown hits the floor, only to resurge as the wider comic significance of this event becomes apparent.
  .notes: :t()
    How could we gain insight into the fine-grained dynamics of others’ emotions?
    How could we ever appreciate the unfolding of another’s grief, or the way their engagement leads to an explosion of ecstasy at the climax of a concert?
    It's in answering this question that I think we may find support for the idea that collective intentionality enables us to know things about others' emtoions that we might not otherwise be in a position to know.
    My thesis will be that Sharing a smile provides us with a route to knowledge of facts about the ways others' emotions unfold; this is what's special, rather than knowledge of the category of emotion (amusement vs fear) or its object.
 

+slide({bkg:'slide_share_smile_02.jpg'})
  .notes [SECOND POINT: control is a way of knowing]
  .notes ways of knowing: perception, inference, reason, testimony
  .notes ways of knowing --- mention perceiving, testimony etc; 
  
+slide({bkg:'slide_share_smile_03.jpg'})
  .notes agent’s knowledge of their current and future actions is often thought to depend on control (although I guess perception is important---it's not a pure case);

+slide({bkg:'slide_share_smile_04.jpg'})
  .notes but control can enable us to know things about others’ actions (using reins as an example---the point of putting a toddler in reins is sometimes that they enable you to know where the toddler will be without observation or inference); 
  .notes.ctd \footnote{
  .notes.ctd Issue (Joel): does control give knowledge of action independently of perception.  (I launched into AHP, which I think only ends up supporting the point.)  Perception must be relevant in this sense: to know that I’m acting, my judgement must be appropriately sensitive to perceptual confirmation.  (Someone with AHP isn’t in a position to know that she’s acting precisely because the perceptual information doesn’t influence her judgement (the comparator---the link between perceptual feedback and motor representation---is broken).  (Strictly this doesn’t show that we need perceptual information, just that knowing isn’t compatible with ignoring perceptual information if  we have it.)  OK, but how does this affect the argument?  (i) maybe I shouldn’t offer agential control as a way of knowing that is distinct from perception (although I think that, unlike simple cases of perception, the motor representation plays a role in knowing.  Further (ii) what’s perceived is action not emotion in the proposal I make; but then maybe Joel’s objection is that merely controlling isn’t sufficient for knowing---against this, I think the reins example might help (I don’t need perceptual feedback to know the location of the toddler, although I might not be able know the location if I have perceptual feedback and ignore it.)
  .notes.ctd }

+slide({bkg:'slide_share_smile_05.jpg'})
  .notes then point out that social interactions often involve reciprocal control.
  .notes controlling someone's actions is a way of knowing things about them.
  .notes.ctd \footnote{
  .notes.ctd   Issue (Tom Smith): is reciprocal control sufficient for joint control?  No because of walking in the Tarantino sense.  This might tell us something interesting about joint control---e.g. maybe identifying differences between sharing a smile and walking in the Tarantino sense with respect to control will enable me to make the point about control as a way of knowing in sharing a smile better.
  .notes.ctd }



+slide({bkg:'slide_share_smile_08.jpg'})
  .notes [THIRD POINT: smiling is a goal-directed action, the goal of which is to smile that smile]
  .notes My topic is sharing a smile.  But first think about ordinary, individual actions like genuine smiles.
  .notes What distinguishes a genuine smile from a muscle spasm or the exhalation of wind?
  .notes I want to suggest that it's this: the smile is a goal-directed action where the goal is to simile that smile.
  .notes But why think of the smile as goal-directed?  Because smiling the smile requires considerable motor coordination: it’s not a matter of simple muscle contractions but more like the production of a phonetic gesture where context affects what is needed to realise the smile.

+slide({bkg:'slide_share_smile_09.jpg'})
  .notes Further, like grasping an object or articulating a particular phoneme, it is an action that can be realised by different bodily movements in different contexts.
  .notes This is why I put slides of two quite different but both genuine smiles.
  .notes [Objection:]
  .notes Now you might say that the smile can't be goal-directed because is isn't explicable by appeal to belief, desire and intention
  .notes This is because the genuine smile is spontaneous and not something that can be produced at will (although it could probably be inhibited, at least to some extent); after all, this is what distinguishes the genuine from the polite smile.
  .notes.ctd \footnote{
  .notes.ctd From web source: The Duchenne smile involves both voluntary and involuntary contraction from two muscles: the zygomatic major (raising the corners of the mouth) and the orbicularis oculi (raising the cheeks and producing crow's feet around the eyes). The zygomatic major can be voluntarily contracted but many people can't voluntarily contract the orbicularis oculi muscle.
  .notes.ctd }
  .notes So now we might be tempted by the view that a smile is merely caused by an emotion in the way that gasses can cause you to burp.
  .notes [Reply:]
  .notes Maybe there are smiles like this, but some genuine smiles are sustained.
  .notes And what sustains them is a process of controll
  .notes How could this be if such smiles are not consequences of beliefs, desires and intentions?
  .notes I think a reasonably natural view here is to think that part of what makes an event a smile, a goal-directed action and not just a muscle spasm caused by excess wind, is the way that motor control is involved.  Specifically, the genuine smile will involve a motor representation of the outcome, the smile, and this motor representation will lead to movements by way of planning-like motor processes.
  .notes But you don't have to buy this to agree with me.
  .notes All you have to accept is that actions like some smilings can be goal-directed and controlled even in the absence of relevant beliefs, desires and intentions.
  .notes I think smiles fall into the category of actions like graspings, reachings and gesturings which are goal-directed but do not necessarily involve intention.
  .notes &nbsp;  
  .notes So far, then, I've suggested that smiling is a goal-directed action, the goal of which is to smile that smile.

+slide
  .notes I'm sorry if all of this is too simple to mention, but I want to recap just to be sure we're all together.
  p summary so far
  ol.em-above
    li emotions unfold over time
    li control is a way of knowing
    li smiling is sometimes a goal-directed action, the goal of which is to smile a smile


+slide({bkg:'slide_share_smile_15.jpg'})
  .notes Now imagine a situation where a single individual encounters and event (a clown’s falling) which causes amusement which causes her to smile
  .notes Note that the smile also modulates the emotion; if, for example, she supressed the smile, the quality of her amusement would change.
  
  .notes How could we gain insight into the fine-grained dynamics of others’ emotions?
  .notes How could we ever appreciate the unfolding of another’s grief, or the way their engagement leads to an explosion of ecstasy at the climax of a concert?

  .notes Part of the answer is obvious: by being there, with them.  
  .notes [Not that this is the only possibility --- in some cases we might  be told.]
  .notes But how exactly does being there, in the same situation help?

+slide({bkg:'slide_share_smile_16.jpg'})
  .notes Merely being in the same situation is surely not enough.
  .notes It’s not enough that we each experience amusement, grief or ecstasy.
  .notes After all, individuals are different.  Different individuals’ feelings don’t unfold in the same way just because they are in the same situation.
  .notes It’s just here that collective intentionality is relevant.
  .notes \textbf{What is involved in sharing a smile?}

+slide({bkg:'slide_share_smile_17.jpg'})
  .notes Minimally, I think there have to be two kinds of connection between us for us to share a smile.

+slide({bkg:'slide_share_smile_18.jpg'})
  .notes First, the way your smile unfolds is shaped by how mine unfolds and conversely.
  .notes I also suppose that our smiles can be minutely coordinated with each other.
  .notes But it’s not just that our smiles are interdependent in this way ...

+slide({bkg:'slide_share_smile_19.jpg'})
  .notes It’s also that each of our smiles is shaping the way our amusement unfolds.

+slide({bkg:'slide_share_smile_20.jpg'})
  .notes So the way your amusement unfolds is being controlled by, and controlling, the way mine unfolds.
  .notes In sharing a smile, we are emotionally locked together.

+slide({bkg:'slide_share_smile_17.jpg'})
  .notes [*todo: remove motor stuff for this talk!  Also: don't lose sight of idea that control is a way of knowing.]
  .notes [*todo: need slide with control arrows highlighted (my emotion controls yours).]
  .notes
    :t()
      [*Structure:
      (i) I know because my emotion controls yours;
      (ii) But if my emotion controls yours, how can yours be amusement at the clown's falling? because control is partial, and reciprocal;
      (iii) But the mere fact of control isn't enough for knowledge; rather, control must show up in experience somehow.  
        After all, for all I have said so far, we might, in sharing a smile, be  unaware that our emotions are locked together. 
      (iv) There must be an experience that is distinctive of sharing a smile.
      (iv) Note that I don’t want to say that  someone who is sharing a smile needs to understand the situation in the way I’m describing it.
        All I'm claiming is that the fact of reciprocal control somehow affects our awareness.
      (v) It may affect in our awareness insofar as we are sensitive to contingencies between our own actions' and others' actions,
        and between our actions and the causes of them.
      (vi) So my position is this: the reciprocal control justifies each agent in making judgements about how the others' amusement is unfolding,
          and this justification is at least indirectly available to the agents by virtue of their having experiences characteristic of sharing a smile.
        ]
  .notes: :t()
    Our being emotionally locked together means that 
    to a significant extent I am feeling what you are feeling, 
            that the way my amusement is unfolding matches they way your amusement is unfolding. 
    So if you know how your own amusement is unfolding and you know that we are emotionally locked together,
    you can know much about how my amusement is unfolding.
    So joint expressions of emotion like sharing a smile have the potential to enable us to know not just that others are amused but how their amusement is unfolding.
  .notes: :t()
    But the fact of reciprocal control (which means our emotions are locked together) together doesn’t all by itself mean that we can know how each other’s emotions are unfolding.
    After all, for all I have said so far, we might, in sharing a smile, be  unaware that our emotions are locked together. 
    Now you might think this sounds implausible because its hard to imagine sharing a smile without an experience that is distinctive of sharing a smile.
    And it might be natural to describe this experience as an experience of sharing.
    But even if that is correct, it’s necessary to say exactly why someone who is sharing a smile is in a position to know things about how the other’s emotion is unfolding.
  .notes: :t()
    I don’t want to say that interaction only helps if you know that your emotions are locked together. 
    That is, I don’t want to say that  someone who is sharing a smile needs to understand the situation in the way I’m describing it.
    But minimally the fact of reciprocal control must somehow feature in our awareness.
  .notes: :t()
    [*The idea in outline:
    \begin{enumerate}
    \item the ways our amusements unfold is locked together
    \item this is in part because a single motor plan has two functions, production of your smile and prediction of my smile
    \item the single motor process means that we might experience being locked together in some way (not that our emotions are locked together but that our actions are, in something like (but not exactly) we experience actions when seeing ourselves in a mirror or on CCTV (check Johannes’ discussion of this)).
    \end{enumerate}
    ]
  .notes: :t()
    Here I want to offer a wild conjecture.
    In joint expressions of emotion there is a single motor plan with two functions,
    production and prediction.
    The motor plan both produces your own smile and enables you to predict the way the other’s smile will unfold.
    [*missing step about monitoring and experience.  (The Haggard idea: motor planning can give rise to experiences concerning one's own actions \citep{Haggard:2005sc}.)] 
    Because your plan has this dual function, your experience of the other’s (my?) smile is special.
    From your point of view, it is almost as if the other is smiling your smile.%
    \footnote{
    Joel caricatured this idea seeing me eating fruit: ‘it’s almost as if I’m eating that fruit.’
    }
    This means that sharing a smile has characteristic phenomenology.
  .notes: :t()
    This odd phenomenological effect means that in sharing a smile we can each think of the situation almost as if there were a single smile.
    And almost as if there were a single state of amusement.
    (In thinking of the situation like this it is important that we have a subject-neutral conception of the amusement and an agent-neutral conception of the smile.%
    \footnote{
    Tom Smith asked about this.  I clarified that I wasn’t suggesting there was a state of amusement which is ours, nor that the subjects are thinking of the situation in this way.
    That’s the point of the appeal to subject-neutral amusement.
    It’s a partial model of the situation.
    }
    [*Here I think I’m shifting back from the perspective of the participants in sharing a smile to the perspective of the theorist.
    Probably what I should say is, first, that a theorist can think of the situation in this way and use this to argue, second, that there is a simple, partial conception of the situation that doesn’t require understanding reciprocal control and interlocking emotions but is sufficient for each smiler to have knowledge of  the way the other’s emotion unfolds.]
    So my suggestion is that in sharing a smile you experience my smile almost as if it were yours (or: you experience me almost as if I were smiling your smile),
    and so you might also experience our situation almost as if it involved a single state of amusement.
  .notes: :t()
    It's more like we each plan a single smile.
  .notes: :t()
    But---to reply to the objection---these plans have a dual function.
    Your plan both produces your own smile and enables you to simulate---to experience---my smile.
    And likewise for my plan.
    The interdependence of our smilings means that we could each think of the situation as if it were one in which a single state of amusement were responsible for our actions.

+slide_middle
  p.center collective intentionality opens a route to knowing others’ minds
  .notes: :t()
    I've just been arguing that manifestations of collective intentionality enable us to know things about others' minds that we might not otherwise be in a position to know.
    In particular, I suggested that 
    sharing a smile provides us with a route to knowledge of facts about the ways others' emotions unfold.
    \textbf{
    Engaging in collective actions like sharing a smile (and crying together) enables us to understand others’ emotions in ways that we probably couldn’t understand them if we were mere observers and unable to engage in collective action.
    The joint expression of emotion matters because it makes available a perspective from which it is almost as if your amusement is my amusement, and my grief is yours.
    }

