---cson
layout: 'deck_unit'
title: "The Interface Problem (Recap)"
tags: []
description: """
  Some actions involve both intention and motor representation.
  Sometimes, in acting, intentions and motor representations 
  specify outcomes which nonaccidentally match.
  How are such non-accidental matches possible?
  """
---

include ../../../fragments/unit_mixins

.handout: :t
  The interface problem: explain how intentions and motor representations, with their distinct
  representational formats, are related in such a way that, in at least some cases, the outcomes they
  specify non-accidentally match.
  
.handout: :t
  ‘both mundane cases of action slips and pathological conditions, such as apraxia or anarchic hand
  syndrome (AHS), illustrate the existence of an interface problem’ 
  \citep[p.~7]{mylopoulos:2016_intentions}.
  
.handout: :t
  Two collections of outcomes, A and B, \emph{match} in a particular context just if, in that context,
  either the occurrence of the A-outcomes would normally constitute or cause, at least partially, the
  occurrence of the B-outcomes or vice versa. To illustrate, one way of matching is for the B-outcomes
  to be the A-outcomes. Another way of matching is for the B-outcomes to stand to the A-outcomes as
  elements of a more detailed plan stand to those of a less detailed one.



+slide_rh_white({step:true})
  +run_across 
    p.center.problem The Interface Problem:
    p.center
      span.qq.hide How are non-accidental matches possible?
  +left_half
    p Motor representations specify goals.
    .notes: :t
      Motor representations specify goals.
    p.slide.em-above Intentions specify goals.
      .notes: :t
        And of course, so do intentions.
    p.slide.em-above Some actions involve both intention and motor representation.
      .notes: :t
        Further, many actions involve both intention and motor representation.
        When, for example, you form an intention to turn the lights out, the goal
        of flipping the light switch may be represented motorically in you.
      .notes: :t
        The nonaccidental success of our actions therefore depends on the outcomes
        specified by our intentions and motor representations matching.
        
    p.inf-int.hide.em-above Intention and motor representation are not inferentially integrated
      span.format.hide  (because representational format?).
    
  +right_half({step:true})
    p: :t
      Two  outcomes, A and B, match in a particular context just if, in that context, 
      either the occurrence of A would normally constitute or cause, at least 
      partially, the occurrence of B or vice versa. 
    .notes: :t
      But how should they match?
      I think they should match in this sense:
      the occurrence of the outcome specified by the motor representation would 
      would normally constitute or cause, at least 
      partially, the occurrence of the outcome specified by the intention.
  .slide
    +show('.qq')
    .notes: :t
      Now we have to ask, How are nonaccidental matches possible?
      If you asked a similar question about desire and intention, the answer would be 
      straightforward: desire and intention are integrated in practical reasoning, so it 
      is no surprise that what you intend sometimes nonaccidentally conforms to what you intend.
      But we cannot give the same sort of answer in the case of motor representations and 
      intentions because ...
  .slide
    +show('.inf-int')
    .notes: :t
      Intention and motor representation are not inferentially integrated.
    .notes: :t
      Beliefs, desires and intentions are related to the premises and conclusions
      in practical reasoning.  Motor representations are not.
      Similarly, intentions do not feature in motor processes.
  .slide
    +show('.format')
    .notes: :t
      Failure of inferential integration follows from the claim that they differ in 
      format and are not translated. But I suspect that more people will agree that there is a
      lack of inferential integration than that they differ in representational format.
      (must illustrate format with maps).
    //- +highlight('.format')
  .slide
    +highlight('.qq', 'pink')
    .notes: :t
      So this is the Interface Problem: how do the outcomes specified by intentions and 
      motor representations ever nonaccidentally match?
  .slide
    +blur('.left-half, .right-half, .run-across','5px')
    +reset
      +middle  
        +timer-element('timer1','120s')
          p.center 
            span How do the outcomes specified by
            br
            span intentions & 
            span motor representations 
            br
            span ever nonaccidentally match?
        +start-timer('timer1')
          
