
mixin infants-track-table()
  p.title-text.center 4- to 6-month-olds can 
    span.track track
    span  briefly occluded objects
  p.em-above
    table.data
      thead
        tr
          td 
            span scenario
          td
            span method
          td.grey-text source
      tbody
        tr.odd
          td 
            span 1 vs 2 objects 
          td
            span habituation
          td.grey-text Spelke et al 1995
        tr.even
          td 
            span one unperceived object constrains another’s movement
          td
            span habituation
          td.grey-text Baillargeon 1987
        tr.odd
          td 
            span where did I hide it?
          td
            span violation-of-expectations
          td.grey-text Wilcox et al 1996
        tr.even
          td 
            span wide objects can’t disappear behind a narrow occluder
          td
            span violation-of-expectations
          td.grey-text Wang et al 2004
        tr.odd
          td 
            span when and where will it reappear?
          td
            span anticipatory looking
          td.grey-text Rosander et al 2004
        tr.even
          td 
            span marker of object maintenanc
          td
            span EEG
          td.grey-text Kaufman et al 2005


mixin crude_picture_of_the_mind()
  p.hem-around Crude Picture of the Mind
  ul.hem-around-children
    li
      span.epistemic epistemic
      br
      span (knowledge states)
    li
      span broadly 
      span.motoric motoric 
      br
      span (motor representations of outcomes and affordances)
    li
      span broadly 
      span.perceptual perceptual 
      br
      span (visual, tactual, ... representations; 
      span.object-indexes object indexes
      span   ...)
    block
