---cson
layout: 'deck_unit'
title: "The Twin Interface Problems"
tags: []
description: """
  How could intentions have content-respecting influences on motor representations given their inferential isolation?
  And how could motor representations have content-respecting influences on thoughts given their inferential isolation?
  """
---

include ../../../fragments/unit_mixins



+slide_rh_white
  .notes: :t
    So here are my two puzzles ...
    The first one comes straight from lecture 01; the second is new, but based on 
    ideas discussed in Lecture 02.
  +left_half
    p.center(style="margin-top:125px;") Interface Problem
    p.hem-above intention -> motor representation
    p.hem-above How 
      span.could could
      span  intentions have content-respecting influences on motor representations given their inferential isolation?
  +right_half
    p.center(style="margin-top:125px;") New Interface Problem
    p.hem-above motor representation -> judgement
    p.hem-above How 
      span.could could
      span  motor representations have content-respecting influences on thoughts given their inferential isolation?
