---cson
layout: 'deck_unit'
title: "The Twin Interface Problems"
tags: []
description: """
  How could intentions have content-respecting influences on motor representations given their inferential isolation?
  And how could motor representations have content-respecting influences on thoughts given their inferential isolation?
  """
---

include ../../../fragments/unit_mixins



+slide_rh_white
  .notes: :t
    So here are my two puzzles ...
    The first one comes straight from lecture 01; the second is new, but based on 
    ideas discussed in Lecture 02.
  +left_half
    p.center(style="margin-top:125px;") Interface Problem
    p.hem-above intention -> motor representation
    p.hem-above How 
      span.could could
      span  intentions have content-respecting influences on motor representations given their inferential isolation?
  +right_half
    p.center(style="margin-top:125px;") New Interface Problem
    p.hem-above motor representation -> judgement
    p.hem-above How 
      span.could could
      span  motor representations have content-respecting influences on thoughts given their inferential isolation?


+slide_middle
  p Attempted solutions ...
  .slide
    p.indent.hem-around.one 1. identity
    .notes: :t
      Motor representations are somehow identical with knowledge states and with intentions
      (which are knowledge states on some accounts)
  .slide
    +blur('.one')
    p.indent.hem-around.two 2. inference (e.g. Shepherd, 2018)
    .notes: :t
      practical reasoning about how to act involves a combination of motor representations and intentions
  .slide
    +unblur('.one')
    .notes: :t
      A striking prediction can be generated from either Identity or Inference. Suppose you represent the goal of some observed action motorically.  en unless there is a failure of rationality (in the case of Identity) or a failure to make a simple inference (in the case of Inference), you should be in a posi- tion to know what the goal of the action is. So if it turned out that humans can represent the goals of observed actions motorically while lacking cor- responding knowledge despite there being no inconsistency nor failure to make a simple inference, then we would have evidence against both Identity and Inference.
  .slide
    +blur('.one, .two')
    p.indent.hem-around.three 3. executable action concept (Mylopoulos & Pacherie)
    .notes: :t
      One criticism of Association is that, as it stands, it leaves many issues open (as Mylopoulos & Pacherie forthcoming, note). One dilemma concerns whether there can be a mismatch between the concept and the motor schema.  at is, could the concept MANUAL REACH (say) be associated with a motor schema for grasping with the mouth (say)? If it could, there would be a sense in which executive action concepts are blind.  at is, the concept-user is not necessarily in a position to know what the concepts she uses are concepts of. If, on the other hand, there could not be a mismatch, then we need to understand what prevents such a possibility.
  .slide
    +unblur('.two')
    .notes the two directions are not obviously incompatible: in a empting to construct a candidate answer, both ideas might in principle be combined. Despite the promise of these ideas, we believe li le enough is known that it remains worth considering further alternatives.
  .slide
    +blur('.two, .three')
    p.indent.hem-around 4. experience
    .notes: :t
      compare Dickinson

+slide_rh_white
  .notes: :t
    So here are my two puzzles ...
    The first one comes straight from lecture 01; the second is new, but based on 
    ideas discussed in Lecture 02.
  +left_half
    p.center(style="margin-top:125px;") Interface Problem
    p.hem-above intention -> motor representation
    p.hem-above How 
      span.could could
      span  intentions have content-respecting influences on motor representations given their inferential isolation?
  +right_half
    p.center(style="margin-top:125px;") New Interface Problem
    p.hem-above motor representation -> judgement
    p.hem-above How 
      span.could could
      span  motor representations have content-respecting influences on thoughts given their inferential isolation?


