---cson
layout: 'deck_unit'
title: "Why Do Some Claim to Visually Experience Red?"
tags: []
description: """
  Suppose, as argued, it is untrue that humans visually experience red or any
  other categorical colour properties.
  Why have so many philosophers have assumed the opposite, and done so without argument?
"""
---

include ../../../fragments/unit_mixins

section.slide
  .notes.handout: :t
    Suppose, as argued, it is untrue that humans visually experience red or any
    other categorical colour properties.
    Why have so many philosophers have assumed the opposite, and done so without argument?
  .handout: :t
    Some time after learning to use a colour term like ‘red’
    somewhat accurately, humans become faster and more accurate at
    distinguishing things which differ in whether they have the property
    denoted by that colour term (faster: \citealp{Bornstein:1984cb}; more
    accurate: \citealp[p.\ 22--7]{Roberson:1999rk}; not usually immediately:
    \citealp{Franklin:2005hp}). In fact, methods highly similar to those which
    indicate the absence of appearances do reveal that these properties affect
    speed and accuracy of discrimination (\citealp{witzel:2014_categorical}).
    As discrimination of these colour properties depends on pre-attentive
    processes which are automatic in some of the senses that perceptual
    processes are \citep{Daoutis:2006ij,clifford_color_2010}, the abilities to
    discriminate may intuitively give rise to the impression that properties
    like \emph{red} affect how things appear.
  +_slide_middle_inner
    p.center.huge-glow-180 why?
  +reset
  +_slide_middle_inner
    p: span: :t
      ‘If someone with normal color vision looks at a tomato in good light, 
      the tomato will appear to have a distinctive property—a property that 
      strawberries and cherries also appear to have, and which we call ‘red’ in 
      English’ 
    p.right.grey-text: span (Byrne & Hilbert 2003, p. 4)

section.slide
  +_slide_middle_inner
    p.center.huge-glow-180.why why?
    +blur('.why')
  +reset
  +_slide_middle_inner
    p Mastering some colour words leads to
    p pre-attentive, automatic capacities to disciminate categorical colour properties
    p corresponding to those words.
    .notes: :t
      Some time  after (but not usually immediately after)  learning to use a colour term like
      ‘red’ somewhat accurately, humans become faster and more accurate at
      distinguishing things which differ in whether they have the property denoted by
      that colour term (faster: \citealp{Bornstein:1984cb}; more accurate:
      \citealp[p.\ 22--7]{Roberson:1999rk}; not usually immediately:
      \citealp{Franklin:2005hp}). In fact, methods highly similar to those which
      indicate the absence of appearances do reveal that these properties affect
      speed and accuracy of discrimination (\citealp{witzel:2014_categorical}). As
      discrimination of these colour properties depends on pre-attentive processes
      which are automatic in some of the senses that perceptual processes are
      \citep{Daoutis:2006ij,clifford_color_2010}, the abilities to discriminate may
      intuitively give rise to the impression that properties like \emph{red} affect
      how things appear.
    .slide
      p.em-above How?
      .notes: :t
        How? 
        How could these pre-attentive, automatic abilities to discriminate 
        give rise to the impression that properties like \emph{red} affect
        how things appear?
    .slide
      p.indent Option 1: phenomenal signals
      .notes: :t
        Option 1: The processes of discrimination modulate the overall phenomenal
        character of experience, and do so differently depending on which
        categorical colour properties are discriminated.
        On this option, we have something like a phenomenal signal of sameness and
        difference.
    .slide
      p.indent Option 2: misinterpretation
      p.indent: :t
        “Discriminable wavelengths seem to be categorized together because they appear
        perceptually similar” 
      p.right.grey-text (Bornstein 1987: 288-9).

    .notes: :t
      Option 2: Philosophers (and perhaps others) intuitively (and incorrectly) assume that 
      capacities to discriminate depend on how things visuall appear.
      That is, the intuitive (and incorrect) assumption is that 
      I can visually distinguish categorical properties because things 
      visually appear to have those categorical colour properties.
      (Compare  \citep[pp.~288--9]{Bornstein:1987vv}:
      “Discriminable wavelengths seem to be categorized together because they appear perceptually similar”.)
  
    