---cson
layout: 'default2'
title: '08: A Dual-Process Theory of Mindreading'
subtitle: ''
weburl: ''
units: []
abstract: """
  According to the Dual Process Theory of Mindreading, two (or more) mindreading processes are distinct
  in this sense:  the conditions which influence whether they occur, 
  and which outputs they generate, 
  do not completely overlap.  
  """
lecture_date: '2019/04/03'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/mindreading_mixins

- var images = get_images('bali')


+slide_middle
  +theMindreadingQs({handout:false})
  +hide('.q2, .q3', 0)
  .slide
    +show('.q2')
  .slide
    +show('.q3')




+slide_middle
  .notes: :t
    To more fully specify mindreading we need a theory that specifies 
    both the models and the processes  involved in mindreading.
  .hem-around-children
    p.models 1. models 
    p.processes 2. processes
  .slide
    +highlight-row('.processes')


+title_slide({document:document, images:images})
  .notes: :t
    An immediate problem facing any advocate of a dual process theory is that 
    the most familiar such theories are burdened by what appear to be
    strong commitments which are not obviously needed to generate predictions.
  .notes: :t
    For instance, Spelke and Carey have proposed a distinction between core cognition and
    knowledge. Their distinction involves commitment to a dual process theory.
    But it also involves commitment to quite strong claims about innateness, phylogeny and
    representational format. These commitments appear unrelated to the anomalous pattern of
    development we aim to explain.
  .notes: :t
    To avoid theoretical commitments which seem inessential given our aim, it is perhaps useful
    to characterise the core commitment of any dual process theory in terms of a very simple
    causal model.
  //-
    Some researchers have proposed an alternative claim.
    Instead of treating implicit responses as simply providing more sensitive measures,
    Spelke and Carey have proposed a distinction between core cognition and knowledge.
    On this view, 

+insert_unit({unit:'dual_process_mindreading', title_slide:false, images:images, handout:true})

+slide_middle
  .notes: :t
    So how does the dual process theory help us with the three questions?
  +theMindreadingQs({handout:false})
  +blur('.q2, .q3', '2px', 0)
  .notes: :t
    We’re not in a position to answer this question yet.
  .slide
    +unblur('.q2')
    +blur('.q1')
    .notes: :t
      Allows us to understand why there are dissociations.
      Does not allow us to predict particular dissociations without further elaboration
      concerning the nature of the processess.
  .slide
    +unblur('.q3')
    +blur('.q2')
    .notes: :t
      Dual process theory is a direct answer to these two questions.
      [No better than a full fat two systems theory, but also no
      worse despite fewer assumptions.]


+slide_middle
  p.center looking ahead ...
  .notes: :t
    But what are the predictions?
    Well, so far this is just the outline of a dual process theory.
    It’s the schematic part which is common to 
    dual process theories of memory and of physical cognition.
    To generate predictions we need to fill in the 
    the mindreading-specific parts of the dual process theory.
  




+slide
  .columns-2.dont-break-paragraphs
    .mechanisms
      p.invert 1. Mechanisms
      p.em-above Conjecture: 
        span Some mindreading processes are more 
        span.automatic automatic
        span  than others.
      .slide
        +invert('.automatic')
      .slide
        +uninvert('.automatic')
        p.em-above Prediction: 
          span Varying task instructions will differentially affect responses indicative of mindreading.
    .slide.models
      +blur('.mechanisms')
      p.invert 2. Models
      p.em-above Conjecture:  
        span Some automatic mindreading processes rely on 
        span.minimal minimal 
          span.model model
          span s of the mental.
      //- .slide
      //-   +invert('.model')
      //- .slide
      //-   +uninvert('.model')
      //-   +invert('.minimal')
      .slide
        //- +uninvert('.minimal')
        p.em-above Prediction: 
          span Those mindreading processes are subject to the 
          span.sig-lim signature limits
          span  of minimal models.
        //- .slide
        //-   +invert('.sig-lim')
        //-   .notes.handout: :t
        //-     A \emph{signature limit of a model} is a set of predictions derivable from the model which are
        //-     incorrect, and which are not predictions of other models under consideration.
      
  .notes.handout.ctd (See \citealp{wang:2015_limits,low:2010_preschoolers,low:2014_quack,edwards:2017_reaction}; contrast \citealp{scott:2015_infants}.)
  
  .c3.slide
    +blur('.slide.models > *')
    p.em-above Conjecture: 
      span Some automatic mindreading depends on motor processes.
    p.hem-above Prediction: 
      span Impairing motor processes can impair mindreading.
     