---cson
layout: 'default2'
title: '02: What Are Metacognitive Feelings?'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/01'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include units/tmp_mixins

- var images = get_images('bali')

+title_slide({document:document, images:images})


+slide_middle
  .notes: :t
    The Crude Picture of the Mind. 
    (Epistemic, Perceptual, Motoric).
  .notes: :t
    Research on metacognitive feelings indicates one way in which
    this picture may be incomplete
  +crude_picture_of_the_mind


+slide
  +img_clip('obama_putin.jpg')
  .notes: :t
    The sense of agency is far from the only metacognitive feeling.
    Consider a second illustration ... familiarity
  .notes: :t
    Here is a face that I hope will seems familiar to most people.
    When you see this face, you have a feeling of familiarity.
    This feeling of familiarity is not just a matter of belief:
    even if you know for sure that you have never encountered the person
    depicted here (and trust me, you haven’t), the feeling of familiarity
    will persist.
    Nor is the feeling a matter of perceptual experience: you can’t 
    perceptually experience familiarity
    any more than you can perceptually experience electricity.
  .notes: :t
    (The face is a composite of May and Farage.  It is chosen to illustrate that
    the feeling of familiarity is not a consequence of how familiar things 
    actually are; instead it may be a consequnece of 
    the degree of fluency with which unconscious processes can identify 
    perceived items \citep{Whittlesea:1993xk,Whittlesea:1998qj}.
    Learning a grammar can also generate feelings of familiarity.
    Subjects who have implicitly learned an artificial grammar report feelings 
    of familiarity when they encounter novel stimuli that are part of 
    the learnt grammar \citep{scott:2008_familiarity}.
    They are also not doomed to treat feelings of familiarity as being
    about actual familiarity:
    instead subjects can use feeling of 
    familiarity in deciding whether a stimulus is from that grammar 
    \citep{Wan:2008_familiarity}.)
  .notes: :t
    I could go on to mention the feeling you have when someone’s eyes are 
    boring into your back, 
    the feeling of déjà vu,
    or the feeling that a name is on the tip of your 
    tongue.  
    But let me focus just on the feelings associated with electricity and 
    with familiarity.
    These feelings are paradigm cases of metacognitive feeling.

+slide
  +img_clip('trump_clinton.jpg')

+slide
  +img_clip('may-farage.jpg')


+slide
  p Feelings of knowing/not knowing (Koriat 1995, 2000).
  p Tip-of-the-tongue experiences (Brown 2000; Schwarz 2002).
  p Feelings of certainty/uncertainty (Smith et al. 2003).
  p Feelings of confidence (Winman and Juslin 2005).
  p Feelings of ease of learning (Koriat 1997).
  p Feelings of competence (Bjork and Bjork 1992).
  p Feelings of familiarity (Whittlesea et al. 2001a, 2001b).
  p Feelings of ‘déjà vu’ (Brown 2003).
  p Feelings of rationality/irrationality (James 1879). 
  p Feelings of rightness (Thomson 2008).
  p.source Dokic 2012, p. 302
  .notes: :t
    I want to add two to this already long list,
    surprise and agency.



+slide_middle
  p.center feeling of surprise
  .notes: :t
    There is a feeling of surprise which has features characteristic metacognitive feelings.
  .slide
    +hide('img.bkg, .source', 1000)
    p
      span ‘the intensity of felt surprise is [...] influenced by [...]
      br
      span the degree of the event’s interference with ongoing mental activity’
    p.right.grey-text Reisenzein et al, 2000 p. 271; cf. Touroutoglou & Efklides, 2010
      
    .notes In particular, 
    .notes.ctd.handout: :t
      ‘the intensity of felt surprise is not only influenced by the unexpectedness of the
      surprising event, but also by the degree of the event’s interference with ongoing mental
      activity, [...] the effect of unexpectedness on surprise is [...] partly mediated by
      mental interference’ \citep[p.~271]{reisenzein2000subjective}
    .notes: :t
      That is, the feeling of surprise is a sensational consequence of mental
      interference. (This can be tested by increasing cognitive load: this intensifies feelings
      of surprise without, of course, making the events themselves more suprirsing. But see
      \citep{reisenzein:2017_cognitiveevolutionary} for an alternative interpretation of such
      findings.)
    .notes: :t
      So whereas the feelings of agency and familiarity are both consequences of 
      unexpected fluency of processing, the feeling of surprise is supposed to be the 
      opposite: it is a consequence of unexpected interference in processes.
    .notes.handout: :t
      \footnote{%
      An alterantive is proposed by \citet[p.~79]{foster:2015_whya}:
      ‘the MEB theory of surprise posits that: Experienced surprise is a metacognitive assessment
      of the cognitive work carried out to explain an outcome. Very surprising events are those
      that are difficult to explain, while less surprising events are those which are easier to
      explain.’
      \citet{foster:2015_whya} is about reactions to reading about something unexpected, whereas
      \citet{reisenzein2000subjective} measures how people experience unexpected events (changes to
      stimuli while solving a problem). The latter is much closer to what I’m after.
      }

+insert_unit({unit:'sense_of_agency', title_slide:false, images:images, handout:true})


+slide_middle
  p.center But what are metacognitive feelings?
+insert_unit({unit:'metacognitive_feelings', title_slide:false, images:images, handout:true})

+slide_middle
  p.center.huge-glow consequences & questions

+slide_middle
  .notes: :t
    First consequence
    Recall the Crude Picture of the Mind. 
    (Epistemic, Perceptual, Motoric).
    I wanted to resist introducing an additional state, core cognition or core knowledge.
  .notes: :t
    However I have ended up at least postulating one further thing ...
  +crude_picture_of_the_mind
    .slide
      li.metacognitive metacognitive feelings
        .notes: :t
          metacognitive feelings
    .slide
      +highlight-row('.metacognitive', 'white')



mixin threeQuestionsMetacognitive()
  .q1
    p.huge-glow Q1
    p(style='margin-top:-4em;')
      span Are metacognitive feelings sensations in Reid’s sense?
      br
      span &nbsp;
    .notes: :t
      If so, is this a problem for intentionalism?
  .q2
    p.huge-glow: span Q2
    p(style='margin-top:-4em;')
      span Can we also think about categorical peception of colour on this model?
  .q3
    p.huge-glow Q3
    p(style='margin-top:-4em;')
      span Why do humans have metacognitive feelings?
      br
      span &nbsp;

+slide_middle
  +threeQuestionsMetacognitive
  +hide('.q2, .q3', 0)

//- something on Dokic’s alternative?
+slide_middle
  p Dokic’s ‘Water Diviner’ model:
  p.notes.handout.em-above.show: :t
    ‘noetic [metacognitive] feelings ... are first-order
    bodily experiences, namely non-sensory affective experiences about bodily
    states, which given our brain architecture co-vary with first-order
    epistemic states, in such a way that they can be recruited, through some
    kind of learning or association process, to represent conditions hinging
    on relevant epistemic properties of one’s own mind.’
  .notes.handout.ctd \citep[p.~317]{dokic:2012_seeds}


+slide_middle
  +threeQuestionsMetacognitive
  +hide('.q2, .q3', 0)
  .slide
    +show('.q2')
    +blur('.q1')

+slide({bkg:'categorical_colour_difference3.jpg'})
  .notes: :t
    The difference in differences ...
  .notes: :t
    Here is the argument. Consider two sequences of sensory encounters: (a) a sequence of sensory
    encounters with two phonetic events that do not differ with respect to category (both are
    realisations of /d/, say), and (b) a sequence of sensory encounters with two phonetic events that do
    so differ (one is a realisation of /d/ the other of /g/, say).11 Let the events encountered in the
    first sequence differ from each other acoustically in the same way and by the same amount as the
    events encountered in the second sequence differ from each other. (That it is possible to find two
    such pairs of events follows from the fact that we enjoy categorical perception of speech.) The two
    sequences are depicted in Fig. 3. Now:
  .slide
    +blur('img.bkg')
    p.hem-around: :t
      1. The second sequence of sensory encounters, (b), 
      differ from each other more in phenomenal character than the first sequence of sensory encounters, 
      (a), differ from each other.
  .slide
    +blur('img.bkg','5px')
    p.hem-around 2. This difference in differences in phenomenal character is a fact in need of explanation.
  .slide
    +fade('img.bkg')
    p.hem-around 3. The difference cannot be fully explained by appeal only to perceptual experiences as of particular shades.
  .slide
    p.hem-around 4. The difference can be explained in terms of perceptual experiences as of categorical colour properties.
    .notes: :t
      The fourth step in this argument, (4), needs some filling in. How would the thesis that categorical
      perception of speech is a form of perceptual experience explain the difference in differences in
      phenomenal character? If the thesis is true, the first sequence of sensory encounters, (a), involves
      two perceptual experiences as of a single phoneme whereas the second sequence of encounters, (b),
      involves perceptual experiences as of different phonemes.12 Let us assume (not very controversially)
      that perceptual experiences have phenomenal characters and that which phenomenal character a
      perceptual experience has depends in part on what it is as of.13 It follows that differences in what
      perceptual experiences are as of can explain differences in the phenomenal characters of those
      perceptual experiences. In particular, if it is a fact that (b) involves perceptual experiences as
      of different things whereas (a) does not, this could explain why the sensory encounters in (b)
      differ in phenomenal character in a way that the sensory encounters in (a) do not.

  .slide
    p.hem-around 5. There is no better explanation of the difference.


+slide_middle
  +threeQuestionsMetacognitive
  +hide('.q3', 0)
  +blur('.q1', '2px', 0)
  .slide
    +blur('.q2')
    +show('.q3')
    .notes: :t
      I think we can provide candidate answers to all three questions by appeal to a 
      dual-process theory of mindreading.


+slide_middle
  p.em-above.notes.handout.show
    span ‘
    span.mf metacognitive feelings
    span  ... allow a transition from the implicit-automatic mode to the 
    span explicit-controlled mode of operation.’
  .notes.handout.ctd \citep[p.~150]{koriat:2000_feeling}
  p.right.grey-text: span Koriat, 2000 p. 150
  .notes: :t
    According to Koriat,

+slide_middle
  +threeQuestionsMetacognitive
  +blur('.q1, .q2', '2px', 0)
  .slide
    +unblur('.q1, .q2')
