---
layout: 'default2'
title: 'Lecture zz: Seeing Causal Interactions'
subtitle: ''
weburl: ''
units: []
lecture_date: '2016/10/27'
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('joint_action01')

+title_slide({document:document, images:images})

//- causal perception London : use the opening slides

//- origins of mind (old version)
//- http://localhost:8080/units/unit_251.html#slide-19
//- http://localhost:8080/units/unit_261.html#slide-3


//- start with some videos before saying anything

+slide_middle
  p.center three videos

section.slide
  +_slide_inner
    video(width="640", height="480", controls)
      source(src="/mov/01_launching.mp4",type="video/mp4")
      source(src="/mov/01_launching.webm",type="video/webm")
    p.source Brian Scholl
  .slide
    +blur('video', '5px')
    +reset
      +middle
        p.center what did you see?


section.slide
  .notes: :t
    [I'm about to talk about illusory causal crescents.  I first show them two videos.
    This is a full overlap video.
    You can drag the slider to show them that it's full overlap, but first ask them what they see.]
  +_slide_inner
    video(width="640", height="480", controls)
      source(src="/mov/01_FullOverlap.mp4",type="video/mp4")
    p.source Brian Scholl
  .slide
    +blur('video', '5px')
    +reset
      +middle
        p.center what did you see?




section.slide
  .notes: :t
    [This is a causal capture video with full overlap.
    Focus on the top sequence.  Tell me what you saw!
    You can drag the slider to show them that it's full overlap, but first ask them what they see.]
  +_slide_inner
    video.full-overlap(width="640", height="480", controls)
      source(src="/mov/02_CausalCapture.mp4",type="video/mp4")
    p.source Brian Scholl
  .slide
    +blur('video', '5px')
    +reset
      +middle
        p.center what did you see?
        .notes: :t
          Normally in this case people report the impression that the top sequence collided.
          That is, they didn't pass, they collided.
          
          

+slide({bkg:'michotte_slides/Slide02.jpg'})
  .notes: :t
    Contrast shape with monetary value.
    People sometimes talk about being able to detect monetary value.
    Presumably we perceive visual characteristics and infer monetary value.
    
    
+slide({bkg:'michotte_slides/Slide03.jpg'})
  .notes: :t
    Consider causal interactions. 
    Where do they fit in?
    Are they perceptually 
    experienced in whatever sense the shape and motions of things are?

+slide({bkg:'michotte_slides/Slide04.jpg'})
  .notes.handout.show
    p: :t
      ‘When we consider these objects with the utmost attention, we find only
      that one body approaches the other; and that the motion of it precedes
      that of the other, but without any sensible interval.’
  .notes.handout.ctd \citep[p.~77]{Hume:1739lj}
  p.right.grey-text Hume 1739-40 [1978]: 77
  .slide.hem-around
    +blur('img.bkg', '2px', 0)
    p.hem-around.notes.handout.show: :t
      ‘the account flies in the face of our common-sense conviction that we do
      perceive causal relations all the time. The experience of perceiving one
      event following another is really quite different from the experience of
      perceiving the second event as caused by the first’
  .slide
    +fade('img.bkg', 0)
    p.hem-around.notes.handout.show: :t
      ‘the researches of Michotte and Piaget would seem to support our
      common-sense view’
    .handout.notes.ctd \citep[pp.~114-5]{Searle:1983tx}
  p.right.grey-text Searle, 1983: pp. 114-5
    
  
  
+slide
  .notes.handout.show
    p: :t
      Sometimes ‘a causal impression arises, clear,
      genuine, and unmistakable, and the idea of cause can be derived from it
      … in just the same way as the idea of shape or movement can be derived
      from the perception of shape or movement.’
  .notes.handout.ctd \citep[p.~270--1]{Michotte:1946nz}
  p.right.grey-text Michotte 1946 [1963]: 270–1
  .slide.em-above
    p.notes.handout.show: :t
      ‘the causal perception is the perception of the work of a mechanical force,
      just as the impression of the movement of a car is the perception of its
      displacement in physical space’
    .notes.handout.ctd \citep[p.~228]{Michotte:1946nz}
    p.right.grey-text Michotte 1946 [1963], p. 228
    .notes: :t
      This looks like a straightforward contradiction, but we have to be careful ...
  .slide
    p.hem-around.notes.handout.show: :t
      ‘This causal impression, however, would have been for him [Hume] ...
      nothing but an illusion of the senses, as is shown by his
      views with regard to the feeling of effort. ... [I]t is probable that his
      [Hume’s] philosophical position would not have been affected in the
      least.’
    .handout.notes.ctd \citep[p.~256]{Michotte:1946nz}
    p.right.grey-text Michotte, 1946 p. 256
  
      
+slide({bkg:'michotte_slides/Slide04.jpg'})
  +blur('img.bkg', '2px', 0)
  +fade('img.bkg')
  .notes.handout.show
    p.quote1
      span ‘In a great boulder rolling down the mountainside and flattening the 
      span wooden hut in its path we see an exemplary instance of force … these 
      span mechanical transactions … are directly observable (or 
      span.experience experienceable
      span )’ 
  .notes.handout.ctd  \citep[p.~118]{Strawson:1992yh}
  p.right.grey-text Strawson 1992, p. 118
  .slide.em-above
    .notes.handout.show
      p.quote2
        span ‘just as the 
        span.visual-system visual system
        span  works to recover … physical structure … by 
        span inferring properties such as 3-D shape, so too does it work to recover 
        span … causal … structure … by inferring properties such as causality’ 
    .notes.handout.ctd \citep[p.~299]{Scholl:2000eq}
    p.right.grey-text Scholl & Tremoulet 2000, p. 299
  .slide
    +invert('.experience, .visual-system')
  .slide
    +blur('.quote1, .quote2')
    +reset-escape-inner
      +_slide_middle_inner
        p.q.center.huge-glow-300(style='margin-top:-.5em;') ?
  .slide.em-above
    .notes.handout.show
      p.quote3: :t
        ‘we seem to be as far as ever from deciding whether the hypothesis is
        true: whether we perceive launchings rather than recognizing them by
        means of stored patterns in long-term memory.’
      .notes.handout.ctd \citep[p.~92]{rips:2011_causation}
      p.right.grey-text Rips 2011, p. 92







+slide_middle
  p.center another question ...

//- the Spelke ball drop vs Berthier et al
+insert_unit({unit:'development_causal_understanding', title_slide:true, images:images, handout:true})





+insert_unit({unit:'perceiving_causes_basic_findings', title_slide:true, images:images, handout:true})

+insert_unit({unit:'object_indexes', title_slide:true, images:images, handout:true})
+insert_unit({unit:'object_indexes_and_causal', title_slide:true, images:images, handout:true})

+insert_unit({unit:'adaptation_causal', title_slide:true, images:images, handout:true})


+insert_unit({unit:'pulfrich_double_pendulum_illusion', title_slide:true, images:images, handout:true})
  

//- 
  return to the issue about perceptual mechanisms vs perceptual experiences
  Go via the Berlin/Milan talk on phenomenal expectations
+insert_unit({unit:'object_indexes_and_developmental_discrepancies', title_slide:true, images:images, handout:true})


//- What is the nature of phenomenology associated with launching and other causal interactions
+insert_unit({unit:'phenomenal_expectations', title_slide:true, images:images, handout:true})



+slide({bkg:'michotte_slides/Slide03.jpg'})
  .notes: :t
    So, in conclusion,  
    Where do  causal interactions fit in?
    Are they perceptually 
    experienced in whatever sense the shape and motions of things are?


+slide_middle
  .notes: :t
    I think we have to reject the phenomenal parts of Michotte’s view:
  .notes.show
    p: :t
      Sometimes ‘a causal impression arises, clear,
      genuine, and unmistakable, and the idea of cause can be derived from it
      … in just the same way as the idea of shape or movement can be derived
      from the perception of shape or movement.’
  .notes.ctd \citep[p.~270--1]{Michotte:1946nz}
  p.right.grey-text Michotte 1946 [1963]: 270–1
  p.notes.show.em-above: :t
    ‘the causal perception is the perception of the work of a mechanical force,
    just as the impression of the movement of a car is the perception of its
    displacement in physical space’
  .notes.ctd \citep[p.~228]{Michotte:1946nz}
  p.right.grey-text Michotte 1946 [1963], p. 228



+slide_middle
  p.center object index operations detect causal interactions
  p.center ↓
  p.center phenomenal expectations
  p.center ↓
  p.center patterns in looking durations / causal interpretation
