---cson
layout: 'default2'
title: '04: Decision Theory and Habitual Processes'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/02'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')





+title_slide({document:document, images:images})
  