---cson
layout: 'default2'
title: '11: The Motor Theory of Goal Tracking'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/04'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali')


+title_slide({document:document, images:images})

//- teleological stance
+insert_unit({unit:'goal_tracking', title_slide:false, images:images, handout:true})
+insert_unit({unit:'teleological_stance_v2', title_slide:true, images:images, handout:true})
+insert_unit({unit:'motor_theory_goal_tracking', title_slide:true, images:images, handout:true})

+insert_unit({unit:'marrs_levels', title_slide:true, images:images, handout:true})



+slide_rh_white
  .teleological
    +run_across
      p.center
        span The ‘Teleological Stance’
        br
        span(style='mix-blend-mode:difference') ~ The goals of an action are those outcomes which the means is a best available way of bringing about.
    p.right.invert Csibra & Gergely
    
  +left_half
  +right_half
    p.center.noinvert Tracking
    p.hem-around.one 1. This means, m, has been adopted (observation)
    p.hem-around.two 2. G is an outcome such that: m is a best available
      span.star *
      span  way of bringing G about
    p.hem-above 3. ∴ G is a goal of the observed action

  .slide
    +highlight-row('.two')
    .notes: :t
      Important that 
      mTgt is not an alternative to the Teleological Stance but to it plus the claim about reasoning. 
    .notes: :t
      Simple View and mTgt do not differ on the relation between means and goals that is to be 
      computed in pure goal-tracking.
      The Simple View and mTgt differ only on what processes is responsible for identifying which outcome or
      outcomes the observed means is a best available way of achieving.

+slide_middle
  table.data
    thead
      tr
        td
        td The Simple View
        td Motor Theory of Goal-Tracking
    tbody
      tr.odd.first
        td What is the function to be computed?
        td [Teleological Stance]
        td [Teleological Stance]
      tr.even.second.slide
        td How is this function computed?
        td.slide By reasoning from knowledge.
        td.slide By using motor processes ‘in reverse’.
      tr.odd.third.hide
        td 
          span.why-limited Why is goal-tracking limited by action ability?
        td ???
        td Because both rely on motor processes.
      tr
        td
        td
        td
  .slide
    +blur('.first,.second')
    +show('.third')
  .slide
    +highlight('.why-limited', 'red')

+slide_middle
  p.center Use the method of signature limits to test the Motor Theory
  .notes: :t
    See double_life_motor_representation_v2 from earlier

+conclusion

+slide_middle
  .notes: :t
    An account of pure goal ascription is an account of how you could 
    in principle infer facts about the goals to which actions are directed from
    facts about joint displacements, bodily configurations and their effects 
    (e.g. sounds).
    Such an account is a computational theory of pure goal ascription.
  p.huge-glow-60(style='line-height:.7em') pure goal ascription
  p
    span.infer Infer
    span  The Goals from The Evidence
  .slide
    p.em-above.indent The Goals: facts which goals particular actions are directed to...
  .slide
    p.em-above.indent 
      span.the-evidence The Evidence
      span: :t
        : facts about events and states of affairs that could be known without 
        knowing which goals any particular actions are directed to, nor any facts
        about particular mental states ...

