---
layout: 'default2'
title: '14: What Do We Experience of Action?'
subtitle: ''
weburl: ''
units: []
lecture_date: '2019/04/05'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('flowers')





+title_slide({document:document, images:images})
  .notes: :t
    I want to start by recalling some issues from the first two lectures.
    Today I will attempt to tie these together, then, next week, we will move
    on to a different set of issues.
    (Perhaps colour?)
    
+insert_unit({unit:'action_experience_new', title_slide:false, images:images, handout:true})
