---cson
layout: 'default2'
title: '16: Should You Be Instrumentally Rational?'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/05'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali')


+title_slide({document:document, images:images})

//- define instrumental rationality
//- include normative construal of decision theory (Velleman quote)
//- two kinds of motivational state
//- maybe nonaccidental harmony is an ultimate end goal, but only ever imprefectly reached


+slide_rh_white
  +run_across
    p.center dilemma
  +left_half
    p Prioritise one kind of motivational state over all others.
  +right_half
    p Assume that despite multiple kinds of motivational state at the level of representations and algorithms, the system as a whole will satisfy the axioms governing preferences (e.g. transitivity).
