---cson
layout: 'default2'
title: '10: What Are Those Motor Representations Doing There?'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/04'
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')





+title_slide({document:document, images:images})
  