---cson
layout: 'default2'
title: '06: Decision Theory and Habitual Processes'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/02'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/philosophical_behavioural_science_mixins

- var images = get_images('bali')


//- 
  TODO
  
  Drop in Davidson quote about folk psychology and decision theory earlier
  Ask a question about how fitting game theory can explain (e.g. side botched lizards; 
  prisoner’s dilemma explains cutthroat competiion in business;
  there seems to be a sense in which if we see the pattern we have explained something
  How does that work?)

  on rationality question include:
  1. consequences of game theory & nash equilibrium 
    https://philosophical-issues-in-behavioural-science.butterfill.com/lecture_02.html#slide-24
  2. thf include Nash equilibruium idea in intro to game theory
  3. chater quote there are no preferences 
    https://philosophical-issues-in-behavioural-science.butterfill.com/lecture_02.html#slide-69

+title_slide({document:document, images:images})

+insert_unit({unit:'decision_theory_intro', title_slide:false, images:images, handout:true})

+insert_unit({unit:'game_theory_intro', title_slide:false, images:images, handout:true})


+slide_rh_white({step:true})
  .notes.handout: :t
    Decision Theory is about how individuals decide which of several available actions to perform
    \citep[textbook:][]{Jeffrey:1983oe}.
    Game Theory is a development which focusses on how interacting individuals 
    select actions when 
    which outcome one individuals’s action brings about depends on how another acts.
  +left_half
    p decision theory
    .slide
      p.em-above How do rational agents decide which of several available actions to perform?
      p.em-above How you act 
        br
        span is a function of two things:
        br
        span.indent your preferences concerning various outcomes
        br
        span.indent and your beliefs about how likely an available action is to satisfy each of your preferences.

  +right_half({step:true})
    p game theory
    .slide
      p.em-above 
        span When two or more agents interact,
        br
        span.step2 so that which outcome one agent’s choice brings about depends on how another chooses,
        br
        span how do their preferences guide their choices?
        p How you act 
          br
          span is a function of two things:
          br
          span.indent your preferences
          br
          span.indent and your beliefs about how others will act.

+insert_unit({unit:'decision_theory_is_agnostic', title_slide:false, images:images, handout:true})
+insert_unit({unit:'habitual_instrumental', title_slide:true, images:images, handout:true})

+insert_unit({unit:'action_puzzle', title_slide:true, images:images, handout:true})
+insert_unit({unit:'dual_process_action', title_slide:true, images:images, handout:true})
+insert_unit({unit:'stress', title_slide:true, images:images, handout:true})

+insert_unit({unit:'decision_theory_agnostic_tension', title_slide:false, images:images, handout:true})


+insert_unit({unit:'decision_theory_construals', title_slide:true, images:images, handout:true})


+conclusion
  +_slide_inner: div(style='margin-top:-550px')
    .slide
      p: :t
        We need a dual-process theory of (goal-selection for) action.
    .slide
      p &nbsp;
      p.em-above: :t
        Decision Theory (like Game Theory) specifies a model.
      p.hem-above: :t
        Models can be construed in several different ways.
      p.hem-above: :t
        Decision Theory says nothing about how the model should be construed.
    .slide
      p &nbsp;
      p.em-above: :t
        Decision Theory provides a model that characterises the instrumental
        goal-selection process

+slide_middle
  p.huge-glow.center appendix
+insert_unit({unit:'training_effects', title_slide:true, images:images, handout:true})
