---cson
layout: 'default2'
title: '13: Twin Interface Problems'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/05'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali')





+title_slide({document:document, images:images})
  