---cson
layout: 'default2'
title: 'Lecture 05: Developmental Origins of Knowledge of Physical Objects'
subtitle: ''
lecture_date: '2017/11/02'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')




+title_slide({document:document, images:images})

  .notes: :t
    ‘On the Developmental Origins of Knowledge of Physical Objects’
  .notes: :t
    Cognitive development---the fact
    that humans typically begin life with quite
    limited cognitive abilities and gradually acquire more---raises some fundamentally 
    philosophical challenges.
  .notes: :t
    Despite this, cognitive development has been quite
    widely ignored by contemporary philosophers of mind. 
    But it wasn’t always like this ...
    

+slide_middle
  p.handout.notes.show
    span.blur1 ‘... ’tis past doubt, 
    br
    span.blur1 that Men have in their Minds 
    span.noblur several Ideas ...:   
    br
    span.blur1 It is in the first place to be enquired, 
    br
    span.noblur How he comes by them?
    span.blur1 ’
    span.handout \citep[p.\ 104]{Locke:1975qo} 
  p.blur1.right.grey-text (Locke, 1689 p. 104)
  .notes: :t
    As Locke saw it, questions about the nature of minds are bound up
    with questions about their developmental origins.
  .slide
    +blur('.blur1')
    .notes: :t
      Where Locke asked a question about Ideas, I want to consider a perhaps
      simpler question about knowledge. How do humans make the transition from
      not knowing any simple facts about particular things in a given domain 
      to possessing some such knowledge?
    .notes: :t
      Research on this question in developmental psychology motivates a further question.
      How can we understand partially formed minds and the actions they give
      rise to? What representations and processes are needed to expalin these
      actions? (Special kind of knowledge, like ‘core knowledge’?)

+slide_middle
  p.center physical objects
  .notes: :t
    In this lecture I shall focus on knowledge of physical objects as a case study.
  .notes: :t
    This lecture is about two related questions.
    First, What is the nature of infants’ earliest cognition of physical objects?
    And, second, How do you get from these early forms of cognition to 
    knowledge of simple facts about particular physical objects?
  .notes: :t
    I want to start by reviewing some quite famous experimental findings
    about infants’ capacities to track briefly occluded physical objects.
    



+insert_unit({unit:'object_permanence', title_slide:false, images:images, handout:true})


+insert_unit({unit:'core_knowledge_problems', title_slide:false, images:images, handout:true})

+insert_unit({unit:'epistemic_motoric_perceptual', title_slide:false, images:images, handout:true})

//- +insert_unit({unit:'object_indexes', title_slide:false, images:images, handout:true})
