---cson
layout: 'default2'
title: '13: Twin Interface Problems'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/05'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bali')


+title_slide({document:document, images:images})

+insert_unit({unit:'the_interface_problem', title_slide:false, images:images, handout:true})
+insert_unit({unit:'five_complications', title_slide:false, images:images, handout:true})
+insert_unit({unit:'mylopoulos_pacherie', title_slide:true, images:images, handout:true})


+insert_unit({unit:'puzzle_thought_experience_motoric', title_slide:true, images:images, handout:true})

+insert_unit({unit:'twin_puzzles', title_slide:true, images:images, handout:true})


+insert_unit({unit:'format', title_slide:true, images:images, handout:true})
