---cson
layout: 'default2'
title: '05: What Is the Mark That Distinguishes Actions?'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/02'
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')





+title_slide({document:document, images:images})
  