---cson
layout: 'default2'
title: '14: Sharing a Smile'
subtitle: ''
weburl: ''
units: []
abstract: """
  """
lecture_date: '2019/04/05'
hidden: false
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins

- var images = get_images('bees')


//- 
  Critical stuff about perceiving emotions being static whereas emotions unfold.
  End on the question,
  what are the roles of interaction in social cognition?
  Is there a route to knowledge of others’ minds that is available only through interaction?


+title_slide({document:document, images:images})
  